.latest-news
    .container
        .row
            .latest-news__heading
                h3.section-title Latest News
                a(href="#").link-black View all
            .latest-news__slider
                .latest-news__item
                    .latest-news__item-slide
                        .latest-news__date 07.07.2020
                        .latest-news__title
                            a(href="#") Not feeling well? Have a health concern? Need a prescription filled?
                        a(href="#").latest-news__image
                            img(src="src/blocks/latest-news/assets/img/latest-news1.jpg" alt="news")
                .latest-news__item
                    .latest-news__item-slide
                        .latest-news__date 07.07.2020
                        .latest-news__title
                            a(href="#") Not feeling well? Have a health concern? Need a prescription filled?
                        a(href="#").latest-news__image
                            img(src="src/blocks/latest-news/assets/img/latest-news2.jpg" alt="news")
                .latest-news__item
                    .latest-news__item-slide
                        .latest-news__date 07.07.2020
                        .latest-news__title
                            a(href="#") Not feeling well? Have a health concern? Need a prescription filled?
                        a(href="#").latest-news__image
                            img(src="src/blocks/latest-news/assets/img/latest-news3.jpg" alt="news")
                .latest-news__item
                    .latest-news__item-slide
                        .latest-news__date 07.07.2020
                        .latest-news__title
                            a(href="#") Not feeling well? Have a health concern? Need a prescription filled?
                        a(href="#").latest-news__image
                            img(src="src/blocks/latest-news/assets/img/latest-news4.jpg" alt="news")
                .latest-news__item
                    .latest-news__item-slide
                        .latest-news__date 07.07.2020
                        .latest-news__title
                            a(href="#") Not feeling well? Have a health concern? Need a prescription filled?
                        a(href="#").latest-news__image
                            img(src="src/blocks/latest-news/assets/img/latest-news1.jpg" alt="news")
                .latest-news__item
                    .latest-news__item-slide
                        .latest-news__date 07.07.2020
                        .latest-news__title
                            a(href="#") Not feeling well? Have a health concern? Need a prescription filled?
                        a(href="#").latest-news__image
                            img(src="src/blocks/latest-news/assets/img/latest-news2.jpg" alt="news")
            .latest-news__navigate