
@font-face {
  font-family: 'Mont-Thin';
  src: url('Mont-Thin.eot?#iefix') format('embedded-opentype'),  url('Mont-Thin.woff') format('woff'), url('Mont-Thin.ttf')  format('truetype'), url('Mont-Thin.svg#Mont-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
