
@font-face {
  font-family: 'Mont-SemiBold';
  src: url('Mont-SemiBold.eot?#iefix') format('embedded-opentype'),  url('Mont-SemiBold.woff') format('woff'), url('Mont-SemiBold.ttf')  format('truetype'), url('Mont-SemiBold.svg#Mont-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
