@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url(../fonts/font-awesome.min.css);
@import url(../libs/owl-carousel/owl.carousel.css);
@import url(../libs/slick/slick.css);
@import url(../libs/magnific-popup/magnific-popup.css);
@import url(../libs/ui-slider/jquery-ui.css);
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
     -moz-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: "WorkSans-Hairline";
  src: url("../fonts/WorkSans-Hairline/WorkSans-Hairline.eot");
  src: url("../fonts/WorkSans-Hairline/WorkSans-Hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/WorkSans-Hairline/WorkSans-Hairline.woff") format("woff"), url("../fonts/WorkSans-Hairline/WorkSans-Hairline.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* GRID */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none; }

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto; }

.col_1 {
  width: 8.333333333333333%; }

.col_1-5 {
  width: 20%; }

.col_2 {
  width: 16.66666666666667%; }

.col_3 {
  width: 25%; }

.col_4 {
  width: 33.33333333333333%; }

.col_5 {
  width: 41.66666666666667%; }

.col_6 {
  width: 50%; }

.col_7 {
  width: 58.33333333333333%; }

.col_8 {
  width: 66.66666666666667%; }

.col_9 {
  width: 75%; }

.col_10 {
  width: 83.33333333333333%; }

.col_11 {
  width: 91.66666666666666%; }

.col_12 {
  width: 100%; }

[class*=col_] {
  min-height: 1px;
  float: left;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 0px 0px; }

@media only screen and (min-width: 721px) {
  .container {
    width: 720px; } }

@media only screen and (min-width: 768px) {
  .container {
    width: 768px; } }

@media only screen and (min-width: 992px) {
  .container {
    width: 970px; } }

@media only screen and (min-width: 1024px) {
  .container {
    width: 1024px; } }

@media only screen and (min-width: 1171px) {
  .container {
    width: 1170px; } }

html {
  height: 100%; }

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  min-height: 100%;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  background: #fff;
  background-size: cover;
  opacity: 1; }

/* CUSTOM STYLE =====================
==============================================*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

.hidden {
  display: none; }

button {
  cursor: pointer; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/* FOR OWL CAROUSEL =====================
==============================================*/
.owl-item {
  position: relative; }

.owl-carousel .owl-item {
  z-index: 100; }

/* PLACEHOLDER STYLE =====================
==============================================*/
.placeholder-style::-webkit-input-placeholder {
  color: #d08026; }

.placeholder-style::-moz-placeholder {
  color: #d08026; }

/* Firefox 19+ */
.placeholder-style:-moz-placeholder {
  color: #d08026; }

/* Firefox 18- */
.placeholder-style:-ms-input-placeholder {
  color: #d08026; }

/* HIDDEN PLACEHOLDER =====================
==============================================*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input:-moz-placeholder, textarea:-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

/* CLEARFIX =====================
==============================================*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.height-20 {
  height: 20px; }

.main-wrapper {
  position: relative;
  margin-bottom: 40px; }
  .main-wrapper .container {
    position: relative; }

.icons-rub {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 14px;
  background-image: url(../img/rub.png); }

.default-button {
  position: relative;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  min-width: 118px;
  background-color: #f2f2f2;
  color: #414141;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px; }
  .default-button.botton-blue {
    background-color: #0051d8;
    color: #fff; }

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

/* Bacground */
/* HEADER =========================
==============================================*/
.header {
  min-height: 96px;
  background: #ffffff;
  border-top: 5px solid #0163d2;
  padding-top: 28px; }

.logo-link {
  float: left;
  display: inline-block;
  text-decoration: none;
  margin-right: 17px; }

.description {
  position: relative;
  display: inline-block;
  border: 1px solid #0163d2;
  padding: 5px 8px 3px;
  color: #0163d2;
  font-size: 14px;
  font-weight: 400; }
  .description::before {
    position: absolute;
    top: 6px;
    left: -7px;
    content: "";
    width: 7px;
    height: 8px;
    display: block;
    background-image: url(../img/descript-icons.png);
    background-repeat: no-repeat; }

.logo,
.search,
.phone,
.cart {
  float: left; }

.search-wrapper {
  min-width: 316px;
  position: relative;
  border: 2px solid #e6e6e6;
  background: #fff;
  border-radius: 2px; }
  .search-wrapper input {
    width: 100%;
    min-height: 40px;
    padding-left: 12px;
    padding-right: 70px;
    color: #818181;
    font-size: 16px;
    font-weight: 400;
    border: none; }
  .search-wrapper .icon-search {
    position: absolute;
    top: -2px;
    right: -2px;
    display: block;
    width: 60px;
    height: 44px;
    background: #0163d2 url(../img/search.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 0 2px 2px 0; }

.search-top::-webkit-input-placeholder {
  color: #818181; }

.search-top::-moz-placeholder {
  color: #818181; }

.search-top:-moz-placeholder {
  color: #818181; }

.search-top:-ms-input-placeholder {
  color: #818181; }

.phone a {
  display: block;
  color: #333333;
  font-size: 18px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 6px;
  text-decoration: none; }
  .phone a:last-child {
    margin-bottom: 0; }

.cart-top {
  padding-top: 6px; }
  .cart-top .icons-cart {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 24px;
    margin-right: 20px;
    background-repeat: no-repeat;
    text-decoration: none; }
    .cart-top .icons-cart:last-child {
      margin-right: 0; }
  .cart-top .icon-compare {
    background-image: url(../img/compare.png); }
  .cart-top .icon-cart {
    background-image: url(../img/cart.png); }
  .cart-top .info-number {
    position: absolute;
    top: -12px;
    left: 15px;
    display: inline-block;
    padding-top: 5px;
    width: 24px;
    height: 24px;
    background-color: #0163d2;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    border-radius: 50%;
    z-index: 1; }

.catalog-menu {
  background: #f3f3f3; }
  .catalog-menu .container__catalog-menu {
    position: relative;
    border-bottom: 3px solid #0163d2; }

.left-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 270px;
  color: #fff;
  background: #0163d2; }

.catalog-burger {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 20px; }

.catalog-burger__icon {
  display: inline-block;
  margin-right: 16px;
  width: 20px;
  height: 12px; }
  .catalog-burger__icon.catalog-burger__mobile span {
    background: #0163d2; }
  .catalog-burger__icon span {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    margin-bottom: 3px; }
    .catalog-burger__icon span:last-child {
      margin-bottom: 0; }

.main-menu__wrapper {
  width: 100%;
  min-height: 50px;
  padding-top: 18px;
  float: left;
  padding-left: 270px; }
  .main-menu__wrapper .main-menu {
    padding-left: 30px; }
    .main-menu__wrapper .main-menu ul li {
      display: inline-block;
      padding-left: 13px;
      padding-right: 13px; }
      .main-menu__wrapper .main-menu ul li:first-child {
        padding-left: 0; }
      .main-menu__wrapper .main-menu ul li:last-child {
        padding-right: 0; }
      .main-menu__wrapper .main-menu ul li a {
        color: #333333;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-transition: all .25s ease-out;
        transition: all .25s ease-out; }
        .main-menu__wrapper .main-menu ul li a:hover, .main-menu__wrapper .main-menu ul li a.is-active {
          color: #0163d2; }

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  z-index: -1; }

.overlay.is-active {
  background: rgba(7, 34, 65, 0.2);
  z-index: 20; }

/* MAIN STYLE =====================
==============================================*/
.hidden-button {
  position: relative;
  color: #0163d2;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  text-decoration: none;
  padding-right: 14px; }
  .hidden-button.is-active:before {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg); }
  .hidden-button:before {
    position: absolute;
    right: 0;
    top: 6px;
    content: "";
    width: 9px;
    height: 5px;
    display: block;
    background-image: url(../img/arrow-bottom.png);
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }

.view-block {
  max-height: 100% !important; }

.left-sidebar__items {
  padding-top: 15px;
  padding-left: 24px;
  padding-right: 22px;
  padding-bottom: 14px;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  margin-bottom: 20px; }
  .left-sidebar__items:last-child {
    margin-bottom: 0; }
  .left-sidebar__items.free-sidebar {
    padding: 20px; }
    .left-sidebar__items.free-sidebar .free-offer-items {
      padding: 0;
      margin-bottom: 10px; }
      .left-sidebar__items.free-sidebar .free-offer-items:last-child {
        margin-bottom: 0; }
      .left-sidebar__items.free-sidebar .free-offer-items .free-offer-icon {
        margin-right: 10px; }
  .left-sidebar__items .sidebar-items__heading {
    position: relative;
    color: #0163d2;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px; }
    .left-sidebar__items .sidebar-items__heading span {
      position: relative;
      padding-right: 10px;
      background: #fff; }
    .left-sidebar__items .sidebar-items__heading img {
      margin-right: 6px; }
    .left-sidebar__items .sidebar-items__heading::before {
      position: absolute;
      left: 0;
      bottom: 8px;
      width: 100%;
      height: 1px;
      content: "";
      display: block;
      background: #e6e6e6; }
    .left-sidebar__items .sidebar-items__heading .sidebar-items__icons {
      display: inline-block;
      width: 18px;
      height: 18px; }
  .left-sidebar__items .sidebar-items__overflow ul.overflow-height {
    max-height: 260px;
    overflow: hidden;
    margin-bottom: 6px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }
  .left-sidebar__items ul {
    margin-bottom: 12px; }
  .left-sidebar__items ul li {
    padding-left: 6px;
    margin-bottom: 2px; }
    .left-sidebar__items ul li a {
      position: relative;
      color: #818181;
      font-size: 14px;
      font-weight: 300;
      line-height: 25px;
      text-decoration: none;
      padding-left: 22px;
      -webkit-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out; }
      .left-sidebar__items ul li a:hover {
        color: #0163d2; }
      .left-sidebar__items ul li a::before {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        display: block;
        width: 4px;
        height: 7px;
        border-left: 1px solid #0163d2;
        border-bottom: 1px solid #0163d2; }

.main-left__sidebar {
  float: left;
  width: 270px; }

.yandex-baner {
  text-align: center;
  margin: 5px 0 0px; }
  .yandex-baner > a {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none; }
  .yandex-baner .rating-wrapper {
    position: relative;
    max-width: 192px;
    padding: 8px 10px 6px;
    margin: 0 auto 6px;
    background: #0767d3; }
    .yandex-baner .rating-wrapper::before {
      position: absolute;
      right: 24px;
      bottom: -7px;
      display: block;
      border-top: 0px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid #0767d3;
      border-right: 0px solid transparent; }
    .yandex-baner .rating-wrapper > span {
      float: left;
      margin-right: 5px;
      color: #fff;
      font-size: 14px;
      font-weight: 400; }
  .yandex-baner .rating {
    position: relative;
    top: -2px;
    max-width: 80px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    float: left; }
  .yandex-baner .rating > span {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    background-image: url(../img/star-yad.png);
    background-repeat: no-repeat;
    cursor: pointer; }
  .yandex-baner .rating > span:hover:before,
  .yandex-baner .rating > span:hover ~ span:before {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/star-yad-gray.png);
    background-repeat: no-repeat; }

.tab-container .tab-list {
  text-align: center;
  margin: 22px 0 16px; }
  .tab-container .tab-list li {
    position: relative;
    display: inline-block;
    padding: 0;
    margin-right: 6px;
    margin-left: 6px;
    color: #333333;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer; }
    .tab-container .tab-list li:hover::before {
      background: #0163d2; }
    .tab-container .tab-list li.active {
      font-weight: 500; }
      .tab-container .tab-list li.active::before {
        background: #0163d2; }
    .tab-container .tab-list li::before {
      position: absolute;
      left: 0;
      bottom: -4px;
      display: block;
      content: "";
      width: 100%;
      height: 2px;
      background: transparent;
      -webkit-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out; }

.pane {
  display: none; }

.range-wrappers {
  margin-bottom: 25px; }
  .range-wrappers .wrapp__rang-slider {
    margin-top: 12px; }
    .range-wrappers .wrapp__rang-slider .range-slider .slider-range__result {
      color: #555555;
      font-size: 14px;
      font-weight: 400; }

.ui-slider-horizontal .ui-slider-range {
  background-color: #333; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-active, .ui-widget-content .ui-state-active, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
  background: #0163d2 !important;
  border: 1px solid #0163d2 !important; }

.ui-slider .ui-slider-handle {
  width: 20px;
  height: 10px;
  margin-top: 2px;
  border: 2px solid #0163d2;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer; }

.ui-widget.ui-widget-content {
  border: 1px solid #333333;
  background: #e6e6e6;
  height: 6px; }

/* radio */
.radio-wrappers {
  margin-bottom: 25px; }
  .radio-wrappers h4 {
    margin-bottom: 11px; }

.radio {
  display: inline-block;
  margin-right: 15px; }
  .radio:last-child {
    margin-right: 0; }
  .radio input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
    display: none; }

.radio__text {
  position: relative;
  color: #555555;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  padding: 2px 0 0 25px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.radio__text:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0px;
  width: 14px;
  height: 14px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: .2s;
  transition: .2s; }

.radio__text:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 0px;
  width: 7px;
  height: 7px;
  border: 5px solid #0163d2;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s; }

.radio input:checked + .radio__text:after {
  opacity: 1; }

/* end radio */
/* checkbox */
.checbox-wrappers h4 {
  margin-bottom: 13px; }

.checbox-items {
  margin-bottom: 25px; }

.checkbox {
  display: block;
  margin-bottom: 14px; }
  .checkbox:last-child {
    margin-bottom: 0; }
  .checkbox input {
    display: none;
    z-index: -1;
    opacity: 0; }

.checkbox__text {
  position: relative;
  color: #555555;
  font-size: 14px;
  font-weight: 400;
  padding: 0 0 0 25px;
  cursor: pointer;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.checkbox__text:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff; }

.checkbox input:checked + .checkbox__text:before {
  background: #0163d2 url(../img/chekbox.png);
  border: 1px solid #0163d2;
  background-repeat: no-repeat;
  background-position: 1px 2px; }

/* end checkbox */
.sidebar-items__overflow .checbox-wrappers {
  max-height: 224px;
  overflow: hidden; }

.dimensions .dimensions-wrapper {
  margin: 12px 0 25px; }

.dimensions .dimensions-items {
  position: relative;
  float: left;
  width: 33.3%;
  padding: 0 8px; }
  .dimensions .dimensions-items::before {
    position: absolute;
    top: 15px;
    right: -4px;
    width: 7px;
    height: 6px;
    content: "";
    display: block;
    background-image: url(../img/x-bg.png);
    background-repeat: no-repeat; }
  .dimensions .dimensions-items:last-child::before {
    display: none; }
  .dimensions .dimensions-items:last-child {
    padding-right: 0; }
  .dimensions .dimensions-items:first-child {
    padding-left: 0; }
  .dimensions .dimensions-items input {
    width: 100%;
    height: 37px;
    border: 1px solid #e6e6e6;
    text-align: center;
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px; }
  .dimensions .dimensions-items label {
    display: block;
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    text-align: center; }

.home-baner img {
  width: 100%; }

.breadcrumbs {
  padding: 38px 0 40px; }
  .breadcrumbs .breadcrumbs-navigation li {
    position: relative;
    display: inline-block;
    margin-right: 28px; }
    .breadcrumbs .breadcrumbs-navigation li:last-child {
      margin-right: 0; }
      .breadcrumbs .breadcrumbs-navigation li:last-child::before {
        display: none; }
    .breadcrumbs .breadcrumbs-navigation li::before {
      position: absolute;
      top: 5px;
      right: -20px;
      width: 8px;
      height: 9px;
      content: "";
      display: block;
      background-image: url(../img/breadcrambs-icon.png);
      background-repeat: no-repeat; }
    .breadcrumbs .breadcrumbs-navigation li a {
      color: #939393;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none; }
      .breadcrumbs .breadcrumbs-navigation li a.is-active {
        color: #535353;
        font-weight: 500; }
      .breadcrumbs .breadcrumbs-navigation li a:hover {
        color: #535353; }

.main-content {
  float: left;
  width: 100%;
  max-width: 900px; }

.slider-home {
  max-width: 665px;
  width: 100%;
  float: left; }

.baners-slider {
  float: left;
  width: 235px; }
  .baners-slider .baners-slider__items {
    display: block; }
    .baners-slider .baners-slider__items a {
      display: block;
      font-size: 0; }

.content-wrapper {
  padding-left: 20px; }

.free-offer {
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 20px; }

.free-offer_smalls .free-offer-icon {
  margin-right: 10px !important; }

.free-offer-items .free-offer-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  margin-right: 20px;
  width: 56px;
  height: 56px;
  background-color: #0163d2;
  border-radius: 4px; }

.free-offer-items .free-offer-text {
  float: left;
  margin-top: 8px; }
  .free-offer-items .free-offer-text h4 {
    color: #222222;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 6px; }
  .free-offer-items .free-offer-text p {
    color: #707070;
    font-size: 13px;
    font-weight: 300; }

.content-heading {
  color: #333333;
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
  text-align: center; }

.video-view .content-heading {
  margin-bottom: 16px; }

.video-view .video-view__main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.video-view .video-view__wrapper {
  position: relative;
  width: 100%;
  max-width: 556px;
  min-height: 386px;
  border: 3px solid #136ed5;
  border-radius: 4px;
  font-size: 0;
  overflow: hidden; }
  .video-view .video-view__wrapper .preview-videos {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .video-view .video-view__wrapper .popup-youtube {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: -31px;
    display: inline-block;
    width: 89px;
    height: 62px; }

.video-view .video-view__content {
  max-width: 324px;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 3px solid #e6e6e6;
  border-bottom: 3px solid #e6e6e6;
  border-right: 3px solid #e6e6e6;
  border-radius: 4px; }
  .video-view .video-view__content .video-text {
    max-width: 284px;
    margin-left: 20px; }
  .video-view .video-view__content p {
    color: #818181;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px; }
    .video-view .video-view__content p:last-child {
      margin-bottom: 0; }
  .video-view .video-view__content a {
    color: #818181;
    font-size: 15px;
    font-weight: 400; }

.product-items {
  width: calc(33.3% + 2px);
  float: left;
  background: #fff;
  border: 1px solid #f2f2f2;
  margin: -1px;
  min-height: 475px;
  max-height: 475px;
  overflow: hidden; }
  .product-items:hover .product-items__images .hidden-content {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
    visibility: visible; }
  .product-items .product-items__images {
    position: relative;
    min-height: 304px;
    height: 100%;
    -webkit-perspective: 400px;
            perspective: 400px;
    cursor: pointer; }
    .product-items .product-items__images .product-images {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 304px; }
      .product-items .product-items__images .product-images img {
        margin: 0 auto; }
    .product-items .product-items__images .hidden-content {
      position: absolute;
      left: 0;
      bottom: 0;
      background: rgba(0, 81, 216, 0.8);
      color: #fff;
      padding: 20px 20px 16px;
      -webkit-transform: rotateX(45deg);
              transform: rotateX(45deg);
      -webkit-transform-origin: bottom center;
              transform-origin: bottom center;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all .25s ease-out;
      transition: all .25s ease-out; }
    .product-items .product-items__images .compare-product {
      position: absolute;
      top: 20px;
      right: 20px; }
    .product-items .product-items__images .left-info {
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 20px;
      padding-left: 25px; }
      .product-items .product-items__images .left-info .left-info__items {
        margin-bottom: 7px; }
        .product-items .product-items__images .left-info .left-info__items:last-child {
          margin-bottom: 0; }
  .product-items .left-info .info-descript {
    position: relative;
    display: inline-block;
    background: rgba(162, 162, 162, 0.8);
    border-radius: 4px;
    -webkit-transform: skew(-24deg);
            transform: skew(-24deg); }
    .product-items .left-info .info-descript .desc-text {
      display: inline-block;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      padding: 5px 21px;
      -webkit-transform: skew(24deg);
              transform: skew(24deg); }
      .product-items .left-info .info-descript .desc-text p {
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 3px; }
        .product-items .left-info .info-descript .desc-text p:last-child {
          margin-bottom: 0; }
  .product-items .left-info .discount {
    position: relative;
    display: inline-block;
    background: #ec0000;
    border-radius: 4px;
    -webkit-transform: skew(-24deg);
            transform: skew(-24deg); }
    .product-items .left-info .discount a {
      display: inline-block;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      padding: 5px 15px;
      color: #fff;
      text-decoration: none;
      -webkit-transform: skew(24deg);
              transform: skew(24deg); }
      .product-items .left-info .discount a span {
        display: inline-block;
        margin-top: 2px; }
  .product-items .left-info .ring {
    position: relative;
    display: inline-block;
    background: #0051d8;
    border-radius: 4px;
    -webkit-transform: skew(-24deg);
            transform: skew(-24deg); }
    .product-items .left-info .ring a {
      display: inline-block;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      padding: 5px 15px;
      color: #fff;
      text-decoration: none;
      -webkit-transform: skew(24deg);
              transform: skew(24deg); }
      .product-items .left-info .ring a span {
        display: inline-block;
        margin-top: 2px; }
      .product-items .left-info .ring a img {
        float: left;
        margin-right: 8px; }
  .product-items .compare-product {
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 27px;
    height: 27px;
    background: #f2f2f2;
    border-radius: 4px; }
  .product-items .product-information {
    padding: 20px 0 20px; }
    .product-items .product-information .product-rating {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 16px; }
      .product-items .product-information .product-rating .rating {
        position: relative;
        top: 1px;
        max-width: 80px;
        margin-right: 5px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
           -moz-box-orient: horizontal;
           -moz-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse; }
      .product-items .product-information .product-rating .rating > span {
        display: inline-block;
        position: relative;
        width: 14px;
        height: 12px;
        background-image: url(../img/star-product2.png);
        background-repeat: no-repeat;
        cursor: pointer; }
      .product-items .product-information .product-rating .rating > span:hover:before,
      .product-items .product-information .product-rating .rating > span:hover ~ span:before,
      .product-items .product-information .product-rating .rating > span.active ~ span:before {
        content: "";
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        background-image: url(../img/star-product1.png);
        background-repeat: no-repeat; }
      .product-items .product-information .product-rating .product-rating__views {
        color: #989898;
        font-family: 'Lato', sans-serif;
        font-size: 13px;
        font-weight: 400; }
    .product-items .product-information .name-product {
      color: #333333;
      font-size: 16px;
      font-weight: 400;
      text-align: center; }
      .product-items .product-information .name-product a {
        text-decoration: none;
        color: #333; }
    .product-items .product-information .price-product {
      color: #333333;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 17px; }
  .product-items .product-button {
    text-align: center; }
    .product-items .product-button .default-button {
      margin: 0 3px; }

.tab-product {
  padding-top: 28px; }
  .tab-product .tab-container .tab-list li {
    font-size: 16px; }
  .tab-product .tab-container .tab-list {
    margin-bottom: 26px; }

.overfow-body {
  overflow: hidden; }

.filter {
  position: fixed;
  bottom: 0px;
  color: #fff;
  text-decoration: none;
  background: #333;
  padding: 5px 10px;
  display: none;
  z-index: 100; }

.catalog-burger.link-menu {
  display: none; }

.baners-top {
  display: block;
  margin-bottom: 10px; }

.showing-results {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: right; }
  .showing-results p {
    font-size: 14px;
    color: #666666; }

.shop-control {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f3f3f3;
  min-height: 44px;
  padding: 4px 20px;
  border-radius: 4px;
  text-align: center; }
  .shop-control .select-control {
    padding-top: 3px; }
  .shop-control .wiev-row {
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: #a5a5a5;
    width: 28px;
    padding: 8px 5px;
    background-color: transparent; }
    .shop-control .wiev-row:hover span,
    .shop-control .wiev-row.is-active span {
      background: #000; }
    .shop-control .wiev-row span {
      display: inline-block;
      float: left;
      width: 7px;
      height: 6px;
      background: #a5a5a5;
      border-radius: 2px;
      -webkit-transition: all .25s ease-out;
      transition: all .25s ease-out; }
    .shop-control .wiev-row span:nth-child(1),
    .shop-control .wiev-row span:nth-child(3) {
      margin-right: 4px; }
    .shop-control .wiev-row span:nth-child(1),
    .shop-control .wiev-row span:nth-child(2) {
      margin-bottom: 4px; }
  .shop-control .wiev-column {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 28px;
    color: #a5a5a5;
    padding: 8px 5px;
    background-color: transparent; }
    .shop-control .wiev-column:hover span {
      background: #000; }
    .shop-control .wiev-column span {
      display: inline-block;
      float: left;
      width: 18px;
      height: 6px;
      background: #a5a5a5;
      margin-bottom: 4px;
      border-radius: 2px;
      -webkit-transition: all .25s ease-out;
      transition: all .25s ease-out; }
      .shop-control .wiev-column span:last-child {
        margin-bottom: 0; }

.pagination-shop {
  display: inline-block;
  padding: 5px 0; }
  .pagination-shop .pag-icon {
    width: 6px;
    height: 10px;
    display: inline-block;
    background-repeat: no-repeat; }
  .pagination-shop .prev {
    margin-right: 10px;
    background-image: url(../img/prev-icon.png); }
  .pagination-shop .next {
    margin-left: 10px;
    background-image: url(../img/next-icon.png); }
  .pagination-shop .curent-page {
    padding: 6px 16px;
    font-size: 13px;
    line-height: 24px;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 5px;
    color: #222; }
  .pagination-shop .text,
  .pagination-shop .max-page {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    color: #666666;
    padding: 4px 0; }

.page-title {
  font-size: 24px;
  font-weight: 500;
  margin: 40px 0 25px; }

.custom-select {
  position: relative;
  color: #666666; }

.custom-select select {
  display: none; }

.select-selected.select-arrow-active:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.select-selected:after {
  position: absolute;
  content: "";
  top: 12px;
  right: 9px;
  width: 7px;
  height: 4px;
  background: url(../img/select-bottom.png) no-repeat;
  z-index: 2;
  pointer-events: none;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out; }

.select-selected {
  font-size: 13px;
  padding: 6px 25px 6px 10px;
  text-align: left;
  color: #666666;
  outline: none;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer; }

.select-items div {
  color: #333;
  padding: 6px 11px;
  cursor: pointer; }

.select-items {
  opacity: 1;
  visibility: visible;
  position: absolute;
  font-size: 13px;
  color: #333;
  background: #fff;
  top: 100%;
  text-align: left;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #e6e6e6;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1); }

.select-items div:hover {
  background: #e0ebf1; }

.select-hide {
  opacity: 0;
  visibility: hidden;
  top: 140%; }

.select-items div:hover, .same-as-selected {
  background: #e0ebf1; }

.wrapper {
  max-width: 960px;
  margin: 80px auto; }

.wrapper-item {
  max-width: 100%;
  min-width: 100px;
  padding: 0 4px;
  float: left; }

.sort-product {
  min-width: 170px; }

.product-views {
  max-width: 470px;
  float: left; }

.slider-for {
  position: relative;
  width: 100%;
  height: 485px;
  margin: 0 auto 10px;
  overflow: hidden;
  background: #fff; }
  .slider-for::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    content: "";
    background-image: url(../img/previev-product.png);
    background-repeat: no-repeat;
    z-index: 10; }
  .slider-for .slick-slide {
    position: relative;
    height: 485px; }
    .slider-for .slick-slide a {
      display: block;
      width: 100%;
      height: 100%; }
    .slider-for .slick-slide img {
      max-height: 100%;
      width: auto;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      left: 50%; }

.slider-nav {
  width: 100%;
  margin: auto; }

.slider-nav .slick-track {
  height: 125px; }

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 50;
  margin-top: -12px; }

.slick-prev {
  left: 0;
  font-size: 0; }

.slick-next {
  right: 0;
  font-size: 0; }

.items-img__nav {
  position: relative;
  height: 125px;
  width: 110px;
  border: 2px solid #f3f3f3;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out; }
  .items-img__nav img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: 80%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.slick-current .items-img__nav,
.items-img__nav:hover {
  border: 2px solid #0163d2; }

.product-description {
  width: 100%;
  max-width: 410px;
  padding-left: 20px;
  float: left;
  background: #fff; }
  .product-description .product-rating {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 16px; }
    .product-description .product-rating .rating {
      position: relative;
      top: 1px;
      max-width: 80px;
      margin-right: 5px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
         -moz-box-orient: horizontal;
         -moz-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
    .product-description .product-rating .rating > span {
      display: inline-block;
      position: relative;
      width: 14px;
      height: 12px;
      background-image: url(../img/star-product2.png);
      background-repeat: no-repeat;
      cursor: pointer; }
    .product-description .product-rating .rating > span:hover:before,
    .product-description .product-rating .rating > span:hover ~ span:before,
    .product-description .product-rating .rating > span.active ~ span:before {
      content: "";
      position: absolute;
      display: block;
      width: 16px;
      height: 16px;
      background-image: url(../img/star-product1.png);
      background-repeat: no-repeat; }
    .product-description .product-rating .product-rating__views {
      color: #989898;
      font-family: 'Lato', sans-serif;
      font-size: 13px;
      font-weight: 400; }
  .product-description .product-rating {
    margin-bottom: 8px !important; }
  .product-description .produt-view__name {
    color: #222;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px; }
  .product-description .articl {
    font-weight: 500;
    color: #666;
    margin-bottom: 17px; }
  .product-description .product-parametrs {
    list-style: inherit;
    padding-left: 16px;
    margin-bottom: 14px; }
    .product-description .product-parametrs li {
      font-size: 14px;
      line-height: 24px; }
  .product-description .availability {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px; }
    .product-description .availability span {
      color: #0058eb;
      font-weight: 500; }
  .product-description .price-sals {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 4px; }
  .product-description .price-main {
    color: #333333;
    font-size: 20px;
    font-weight: 500; }
  .product-description .add-cart {
    padding-top: 10px;
    padding-bottom: 10px; }
  .product-description .shared .shared-list {
    margin-top: 4px; }
    .product-description .shared .shared-list li {
      display: inline-block;
      margin-right: 6px; }
  .product-description .compare-product {
    padding: 8px 0; }
    .product-description .compare-product a {
      font-size: 16px;
      line-height: 30px;
      color: #666;
      text-decoration: none;
      -webkit-transition: all .25s ease-out;
      transition: all .25s ease-out; }
      .product-description .compare-product a i {
        font-size: 14px; }
      .product-description .compare-product a:hover {
        color: #0163d2; }

.present {
  border: 1px solid #f3f3f3;
  border-radius: 4px; }
  .present .present-desc {
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center; }
    .present .present-desc h3 {
      color: #333333;
      font-size: 19px;
      font-weight: 500;
      margin-bottom: 5px; }
    .present .present-desc p {
      color: #333333;
      font-size: 14px;
      font-weight: 400; }

.resent-product .resent-product__img {
  width: 100%;
  height: 145px;
  overflow: hidden; }
  .resent-product .resent-product__img img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.resent-product .col_4 {
  border-right: 1px solid #f3f3f3; }
  .resent-product .col_4:last-child {
    border-right: 0px; }

.resent-product label {
  height: 225px;
  text-align: center; }
  .resent-product label a {
    color: #939393;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none; }

.resent-product .checkbox__text {
  padding: 0; }

.resent-product .checkbox__text:before {
  content: '';
  position: absolute;
  top: 0px;
  right: 10px;
  left: auto;
  width: 15px;
  height: 15px;
  border: 1px solid #bbbbbb;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 10; }

.resent-product .checkbox input:checked + .checkbox__text:before {
  content: "\f00c";
  display: inline-block;
  font: normal normal normal 12px/14px FontAwesome;
  color: #0163d2;
  text-align: center;
  background: none;
  border: 1px solid #0163d2;
  background-repeat: no-repeat;
  background-position: 1px 2px; }

.product-wrapper__full {
  width: 100%;
  float: left; }
  .product-wrapper__full .tab-product .tab-list {
    text-align: left;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 8px; }
    .product-wrapper__full .tab-product .tab-list li {
      font-size: 18px;
      color: #bbb;
      font-weight: 500;
      margin-left: 0;
      margin-right: 46px;
      -webkit-transition: all .25s ease-out;
      transition: all .25s ease-out; }
      .product-wrapper__full .tab-product .tab-list li:last-child {
        margin-right: 0; }
      .product-wrapper__full .tab-product .tab-list li.active, .product-wrapper__full .tab-product .tab-list li:hover {
        color: #333; }
    .product-wrapper__full .tab-product .tab-list li::before {
      display: none; }
  .product-wrapper__full .tab-product .tab-pane p {
    font-size: 14px;
    line-height: 24px;
    color: #666;
    margin-bottom: 24px; }

/* Our Camand */
.product-details-active img {
  width: 200px !important;
  margin: 0 auto; }

.thamb-active img {
  width: 100px !important;
  margin: 0 auto; }

/* Our Camand End */
/*  ==============
==================================*/
/* FOOTER =========================
==============================================*/
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333333;
  height: 60px; }
  .footer .container {
    padding-top: 10px;
    padding-bottom: 10px; }
  .footer .copy {
    padding-top: 12px;
    color: #fff; }

.logo-brand {
  text-align: right; }
  .logo-brand ul {
    display: inline-block; }
    .logo-brand ul li {
      display: inline-block;
      padding: 0 6px; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1170px) {
  .free-offer.free-offer_smalls {
    margin-bottom: 0; }
    .free-offer.free-offer_smalls .free-offer-items {
      width: 100%;
      margin-bottom: 20px; }
      .free-offer.free-offer_smalls .free-offer-items:last-child {
        margin-bottom: 0; }
      .free-offer.free-offer_smalls .free-offer-items .height-20 {
        display: none; }
  .product-views {
    max-width: 380px; }
  .product-description {
    max-width: 350px; }
  .items-img__nav {
    width: 95%; }
  .baners-top img {
    width: 100%;
    height: auto; }
  .main-content {
    max-width: 754px; }
  .slider-content {
    position: relative; }
    .slider-content .baners-slider {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10; }
  .free-offer {
    padding-left: 10px;
    padding-right: 10px; }
    .free-offer .free-offer-items {
      padding: 0; }
      .free-offer .free-offer-items .free-offer-icon {
        margin-right: 10px; }
  .product-items {
    width: calc(50% + 2px); } }

@media only screen and (max-width: 1023px) {
  .product-views {
    max-width: 100%;
    margin-bottom: 20px; }
  .product-description {
    max-width: 100%;
    padding-left: 0; }
  .free-offer.free-offer_smalls .free-offer-items {
    width: 50%;
    margin-bottom: 20px; }
    .free-offer.free-offer_smalls .free-offer-items .free-offer-icon {
      float: left; }
    .free-offer.free-offer_smalls .free-offer-items .free-offer-text {
      float: left;
      text-align: left; }
  .main-content {
    max-width: 700px; }
  .free-offer .free-offer-items {
    text-align: center; }
    .free-offer .free-offer-items .free-offer-icon {
      float: none;
      margin: 0 auto; }
    .free-offer .free-offer-items .free-offer-text {
      display: block;
      float: none;
      text-align: center; } }

@media only screen and (max-width: 991px) {
  .left-sidebar__items.free-sidebar {
    display: none; }
  .content-wrapper {
    padding-left: 10px;
    padding-right: 10px; }
  .main-content {
    max-width: 100%;
    float: none; }
  .main-left__sidebar {
    width: 100%;
    height: calc(100vh - 180px);
    float: none;
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-x: scroll;
    border: 2px solid #e6e6e6;
    border-radius: 4px; }
    .main-left__sidebar .left-sidebar__items {
      border: none; }
  .filter {
    display: block; }
  .catalog-burger {
    display: none; }
    .catalog-burger.link-menu {
      display: block; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 854px) {
  .breadcrumbs {
    padding-left: 10px;
    padding-right: 10px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .footer {
    padding-left: 10px;
    padding-right: 10px; }
  .catalog-menu .container__catalog-menu {
    border-bottom: 0px; }
  .left-sidebar {
    position: relative;
    width: 100%; }
  .video-view .video-view__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .video-view .video-view__wrapper {
    max-width: 90%;
    min-height: 320px;
    margin-bottom: 20px; }
  .video-view .video-view__content {
    max-width: 90%;
    padding: 15px;
    border-left: 3px solid #e6e6e6; }
    .video-view .video-view__content .video-text {
      max-width: 100%;
      margin-left: 0; }
  .slider-home {
    position: relative;
    max-width: 100%; }
    .slider-home:before {
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      width: 100%;
      height: 100%;
      z-index: 10; }
  .slider-content .baners-slider {
    display: none; }
  .owl-carousel .owl-item .item {
    max-height: 320px;
    overflow: hidden; } }

@media only screen and (max-width: 720px) {
  .baners-slider {
    display: none; } }

@media only screen and (max-width: 600px) {
  .footer {
    height: auto;
    max-height: 100%; }
    .footer .copy {
      margin-bottom: 15px; }
    .footer .col_6 {
      width: 100%;
      text-align: center; }
    .footer .logo-brand {
      text-align: center;
      margin-bottom: 10px; } }

@media only screen and (max-width: 540px) {
  .breadcrumbs {
    padding: 14px 10px 14px; }
  .page-title {
    margin: 20px 0 20px; }
  .product-items {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    float: none; }
  .shop-control {
    position: relative;
    min-height: 80px; }
    .shop-control .select-control {
      position: absolute;
      bottom: 7px;
      left: 0;
      text-align: center;
      width: 100%; }
      .shop-control .select-control .wrapper-item {
        float: none;
        display: inline-block; } }

@media only screen and (max-width: 480px) {
  .product-wrapper__full .tab-product .tab-list li {
    margin-right: 20px; }
  .free-offer.free-offer_smalls .free-offer-items {
    width: 100%;
    margin-bottom: 20px; }
  .height-20 {
    display: none; } }

@media only screen and (max-width: 414px) {
  .free-offer .free-offer-items {
    width: 100%;
    margin-bottom: 15px; }
    .free-offer .free-offer-items:last-child {
      margin-bottom: 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 360px) {
  .product-wrapper__full .tab-product .tab-list li {
    margin-right: 10px; } }

/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .phone {
    float: none;
    padding: 0 10px; }
  .search {
    padding-left: 10px;
    margin-bottom: 15px;
    float: none; }
    .search .search-wrapper {
      min-width: 280px;
      width: 95%; }
  .cart-top {
    padding: 25px 10px 10px; }
  .logo .description {
    display: none; }
  .catalog-burger__icon.catalog-burger__mobile {
    position: absolute;
    right: 15px;
    top: 25px;
    margin-right: 0;
    display: block; }
  .header-dropdown {
    max-width: 300px;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -320px;
    background: #f3f3f3;
    z-index: 30;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out; }
    .header-dropdown.is-active {
      left: 0; }
  .header {
    padding-top: 15px;
    min-height: 72px;
    position: relative;
    border-bottom: 2px solid #0163d2; }
  .overflow {
    overflow: hidden; }
  .main-menu__mobile {
    position: relative;
    display: block;
    padding: 10px; }
    .main-menu__mobile ul li {
      list-style: none;
      margin-bottom: 5px; }
      .main-menu__mobile ul li:last-child {
        margin-bottom: 0; }
    .main-menu__mobile ul li a {
      color: #333333;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none; }
      .main-menu__mobile ul li a.is-active {
        color: #0163d2; }
  .main-menu__wrapper {
    display: none; }
  .logo {
    display: block;
    padding-left: 15px;
    float: none; }
    .logo .logo-link {
      float: none; }
    .logo .description {
      display: none; } }

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 769px) {
  .main-menu__wrapper .main-menu {
    padding-left: 20px; }
    .main-menu__wrapper .main-menu ul li {
      padding-left: 6px;
      padding-right: 6px; }
  .cart-top {
    padding: 6px 0px 0px; }
  .phone {
    float: left;
    padding: 4px 0 0;
    margin-right: 15px; }
    .phone p {
      font-size: 16px; }
  .search {
    padding-left: 0;
    float: left;
    margin-right: 15px;
    max-width: 250px; }
    .search .search-wrapper {
      min-width: 250px;
      width: 100%; }
  .catalog-burger__icon.catalog-burger__mobile {
    display: none; }
  .header-dropdown {
    position: relative;
    left: 0;
    height: 100%;
    right: 0;
    max-width: 100%;
    background-color: transparent; }
  .header {
    padding-top: 28px;
    min-height: 96px;
    overflow: inherit;
    border-bottom: none;
    padding-left: 10px;
    padding-right: 10px; }
  .main-menu__mobile {
    display: none; }
  .main-menu__wrapper {
    display: block; }
  .logo {
    position: relative;
    padding-left: 0;
    z-index: 100; }
  .logo {
    display: block;
    text-align: center;
    float: left; }
    .logo .logo-link {
      float: left; }
    .logo .description {
      float: left; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .logo {
    margin-right: 15px; }
    .logo .description {
      display: block; }
  .main-menu__wrapper .main-menu {
    padding-left: 30px; }
    .main-menu__wrapper .main-menu ul li {
      padding-left: 13px;
      padding-right: 13px; } }

@media only screen and (min-width: 1024px) {
  .search {
    max-width: 280px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1171px) {
  .header {
    padding-left: 0;
    padding-right: 0; }
  .logo {
    margin-right: 60px; }
  .search {
    max-width: 316px;
    margin-right: 60px; }
    .search .search-wrapper {
      min-width: 316px; }
  .phone {
    padding-top: 2px;
    margin-right: 59px; } }

/* font-family: 'Rubik', sans-serif; */
