// Mixin

.posts-card.posts-card__bottmo-offset
    .posts-card__date 07.07.2020
    .posts-card__title
        a(href="#") Not feeling well? Have a health concern? Need a prescription filled?
    a(href="#").posts-card__image
        img(src="src/blocks/latest-news/assets/img/latest-news2.jpg" alt="News")