.related-product
    .layout
        .heading
            h3 Related Products
        .related-product__wrapper
            .related-product__slider
                .related-product__col
                    .related-product__item
                        .related-product__image
                            img(src="src/blocks/cupcakes/assets/img/product-1.png")
                        p.related-product__name Rainbow
                        .related-product__button
                            a(href="#").button.button__pink Shop £3.50
                .related-product__col
                    .related-product__item
                        .related-product__image
                            img(src="src/blocks/cupcakes/assets/img/product-2.png")
                        p.related-product__name Rainbow
                        .related-product__button
                            a(href="#").button.button__pink Shop £3.50
                .related-product__col
                    .related-product__item
                        .related-product__image
                            img(src="src/blocks/cupcakes/assets/img/product-3.png")
                        p.related-product__name Rainbow
                        .related-product__button
                            a(href="#").button.button__pink Shop £3.50
                .related-product__col
                    .related-product__item
                        .related-product__image
                            img(src="src/blocks/cupcakes/assets/img/product-4.png")
                        p.related-product__name Rainbow
                        .related-product__button
                            a(href="#").button.button__pink Shop £3.50
                .related-product__col
                    .related-product__item
                        .related-product__image
                            img(src="src/blocks/cupcakes/assets/img/product-5.png")
                        p.related-product__name Rainbow
                        .related-product__button
                            a(href="#").button.button__pink Shop £3.50

            .related-products__navigate