.documents.documents--default-offset
    .container
        .row
            .col-lg-6
                .documents__item
                    i.documents__icon
                        img(src="src/blocks/documents/assets/img/documents-icon1.svg" alt="Documents icon")
                    .documents__text Documents for #[span Patient]

            .col-lg-6
                .documents__item
                    i.documents__icon
                        img(src="src/blocks/documents/assets/img/documents-icon2.svg" alt="Documents icon")
                    .documents__text Documents for #[a(href="#") Therapists]