.patients-stories.patients-stories--default-offset
    .container
        .row
            .col-lg-7.order-2.order-lg-1
                .patients-stories__video-slider
                    .patients-stories__video-wrapper
                        a(href="http://www.youtube.com/watch?v=0O2aH4XLbto").patients-stories__video.popup-youtube
                            img(src="src/blocks/patients-stories/assets/img/patients-stories__video1.jpg" alt="Patients Video").patients-stories__video-image
                            i.patients-stories__video-play
                    .patients-stories__video-wrapper
                        a(href="http://www.youtube.com/watch?v=0O2aH4XLbto").patients-stories__video.popup-youtube
                            img(src="src/blocks/patients-stories/assets/img/patients-stories__video2.jpg" alt="Patients Video").patients-stories__video-image
                            i.patients-stories__video-play

            .col-lg-5.order-1.order-lg-2
                .patients-stories__stories-wrapper
                    .patients-stories__stories-head
                        .patients-stories__stories-image
                            //img(src="src/blocks/patients-stories/assets/img/image-rating-reviews.png")
                            +testimonial('testimonial--big', "src/blocks/testimonial/assets/img/testimonial-author1.jpg")
                        .patients-stories__stories-title
                            h3 Patients' stories
                            .patients-stories__stories-navigate
                    .patients-stories__slider
                        .patients-stories__slider-items
                            .patients-stories__rating
                                .rating
                                    span.rating-item
                                        +iconSvg('18', '17', '0 0 18 17', 'rating-star')
                                    span.rating-item
                                        +iconSvg('18', '17', '0 0 18 17', 'rating-star')
                                    span.rating-item
                                        +iconSvg('18', '17', '0 0 18 17', 'rating-star')
                                    span.rating-item
                                        +iconSvg('18', '17', '0 0 18 17', 'rating-star')
                                    span.rating-item
                                        +iconSvg('18', '17', '0 0 18 17', 'rating-star')
                            .patients-stories__stories
                                p.patients-stories__desc “Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Ut dignissim facil isis sodales ipsum dolor sit amet, conse ctetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elinteger elit ipsum dolor conse vehicula nulla ipsum dolor sit”
                                .patients-stories__name Theresa T, Toronto
                        .patients-stories__slider-items
                            .patients-stories__rating
                                .rating
                                    span.rating-item
                                        +iconSvg('18', '17', '0 0 18 17', 'rating-star')
                                    span.rating-item
                                        +iconSvg('18', '17', '0 0 18 17', 'rating-star')
                                    span.rating-item
                                        +iconSvg('18', '17', '0 0 18 17', 'rating-star')
                                    span.rating-item
                                        +iconSvg('18', '17', '0 0 18 17', 'rating-star')
                                    span.rating-item
                                        +iconSvg('18', '17', '0 0 18 17', 'rating-star')
                            .patients-stories__stories
                                p.patients-stories__desc “Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Ut dignissim facil isis sodales ipsum dolor sit amet, conse ctetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elinteger elit ipsum dolor conse vehicula nulla ipsum dolor sit”
                                .patients-stories__name Theresa T, Toronto