
.icon-location:before { content: '\e800'; } /* '' */
.icon-mesage:before { content: '\e801'; } /* '' */
.icon-closed:before { content: '\e802'; } /* '' */
.icon-triler:before { content: '\e803'; } /* '' */
.icon-product:before { content: '\e804'; } /* '' */
.icon-city:before { content: '\e805'; } /* '' */
.icon-transtort:before { content: '\e806'; } /* '' */
.icon-gydrobort:before { content: '\e807'; } /* '' */