.information
    .container
        .row
            .col-lg-6
                .information__background.information__background--beige
                    +testimonialTop('testimonial--mobile', "src/blocks/testimonial/assets/img/testimonial-author1.jpg")
                    img(src="src/blocks/information/assets/img/information-image-1.png" alt="Fastest solutions").information__image.information__image--top
            .col-lg-6
                .information-content
                    .information-content__inner
                        .information-heading
                            p.sub-title Fastest solutions
                            h3.section-title How we help
                        .information-list
                            .information-list__items
                                p Mental health
                                span As much as 60% of absenteeism can be traced to mental health issues. We can help.
                            .information-list__items
                                p Communicate your way
                                span Talk to your counselor however you feel comfortable: messaging, chat, phone, video
                            .information-list__items
                                p Therapy when you need it
                                span Schedule a live session at a time that's convenient for you. Connect from your phone, tablet, or computer.

                        .information-button
                            a(href="#").link-black Learn more
                            a(href="#").link-black Directory
                            a(href="#").button.button__green-gradient Book Consultation

    .container
        .row
            .col-lg-6
                .information__background.information__background--full-img.information__background--beige
                    +testimonialBottom('testimonial--full', "src/blocks/testimonial/assets/img/testimonial-author2.jpg")
                    img(src="src/blocks/information/assets/img/information-image-2.png" alt="Earn more with us!").information__image.information__image--full.information__image--top
            .col-lg-6
                .information-content
                    .information-content__inner
                        .information-heading
                            h3.section-title Earn more with us!
                        .information-list
                            .information-list__items
                                p Reliable Income
                                span Lorem ipsum dolor sit amet. Ut dignissim facilisis sodales. Integer vehicula nulla felis, id egest egestas lorem.
                            .information-list__items
                                p Focus on Counseling
                                span Lorem ipsum dolor sit amet. Ut dignissim facilisis sodales. Integer vehicula nulla felis, id egest egestas lorem.
                            .information-list__items
                                p Work Flexibility
                                span Lorem ipsum dolor sit amet. Ut dignissim facilisis sodales. Integer vehicula nulla felis, id egest egestas lorem.

                        .information-button
                            a(href="#").button.button__green-gradient Get Started
                            a(href="#").link-black Requirements
                            a(href="#").link-black Directory
