extends ../templates/main

block variables
    - var title = 'AQENE'


block content
    main.main.main--default-offset

        .page-wrapper.page-wrapper--default-offset
            .container
                .title-inside.title-inside--bottom-offset
                    h1 Lost your password?
                .row.login-wrapper
                    .col-lg-5
                        .box-form.box-form--large.box-form__content
                            .box-form__head
                                h3 No worries!
                            p We are here to help you to recover your password.
                            .box-form__main.box-form__main--top-offset
                                .box-form__items
                                    input(type="text" placeholder="Email")

                            .form-step__navigate
                                button.form-step__button.form-step__button--prev Go back
                                button.form-step__button.form-step__button--next.form-step__button--change Next