extends ../templates/main

block variables
    - var title = 'AQENE'


block content
    main.main.main--default-offset

        .breadcrumbs
            .container
                ul.breadcrumbs__list
                    +listBreadcrumbs("Home")
                    +listBreadcrumbs("Resources")
                    +listBreadcrumbs("Blog")
                    +listBreadcrumbs("Post", true)

        .content-main
            .container
                .post-inside
                    .post-inside__image
                        img(src="src/blocks/post/assets/img/post-full.jpg" alt="Post")
                    .post-inside__post
                        .post-inside__date 07.07.2020
                        .post-inside__content
                            .post-inside__head
                                h1.post-inside__name
                                    a(href="") Not feeling well? Have a health concern? Need a prescription filled?
                                .share-link__wrapper
                                    //a(href="#").share-link.
                                    .share-link
                                        +iconSvg('15', '16', '', 'icon-shares')
                                        .share-social
                                            .share-social__layout
                                                a(href="#").share-social__link
                                                    img(src="src/blocks/social-link/assets/img/twitter.svg" alt="twitter")
                                                a(href="#").share-social__link
                                                    img(src="src/blocks/social-link/assets/img/facebook.svg" alt="facebook")
                                                a(href="#").share-social__link
                                                    img(src="src/blocks/social-link/assets/img/linkedin.svg" alt="linkedin")
                                    //.share-link.
                                    //    #[<svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.5238 10C10.7837 10 10.1034 10.2443 9.5664 10.653L6.2112 8.65128C6.31056 8.22226 6.31056 7.77771 6.2112 7.34869L9.5664 5.347C10.1034 5.75566 10.7837 6 11.5238 6C13.2596 6 14.6667 4.65684 14.6667 3C14.6667 1.34316 13.2596 0 11.5238 0C9.78807 0 8.38095 1.34316 8.38095 3C8.38095 3.22369 8.40682 3.44156 8.45546 3.65128L5.10027 5.65297C4.56326 5.24434 3.883 5 3.14286 5C1.40712 5 0 6.34316 0 8C0 9.65684 1.40712 11 3.14286 11C3.883 11 4.56326 10.7557 5.10027 10.347L8.45546 12.3487C8.40587 12.5626 8.38089 12.781 8.38095 13C8.38095 14.6568 9.78807 16 11.5238 16C13.2596 16 14.6667 14.6568 14.6667 13C14.6667 11.3432 13.2596 10 11.5238 10Z" /></svg>]

                            .post-inside__desc
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A arcu cursus vitae congue mauris rhoncus aenean. Nunc aliquet bibendum enim facilisis gravida neque convallis a. Netus et malesuada fames ac. Nibh praesent tristique magna sit amet purus. Dignissim sodales ut eu sem integer vitae justo eget. A lacus vestibulum sed arcu non odio euismod lacinia at. Risus feugiat in ante metus dictum at tempor commodo ullamcorper. Sit amet est placerat in egestas. Pulvinar etiam non quam lacus suspendisse faucibus interdum posuere lorem. Nisi porta lorem mollis aliquam.
                                p Accumsan in nisl nisi scelerisque. Nunc sed velit dignissim sodales ut. Elit pellentesque habitant morbi tristique senectus et netus et. Eget mi proin sed libero. Ac turpis egestas sed tempus urna et pharetra pharetra massa. Diam sit amet nisl suscipit adipiscing. Elit sed vulputate mi sit amet mauris commodo quis. Tellus molestie nunc non blandit massa enim nec. Libero id faucibus nisl tincidunt. Ultricies mi quis hendrerit dolor magna eget. Congue quisque egestas diam in arcu cursus euismod quis. Etiam non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Dictum fusce ut placerat orci nulla pellentesque dignissim enim.
                                p Egestas erat imperdiet sed euismod nisi porta lorem mollis. Quis blandit turpis cursus in hac habitasse platea dictumst. Dignissim sodales ut eu sem integer vitae justo eget. Lacus viverra vitae congue eu consequat ac felis donec et. Nunc sed velit dignissim sodales ut eu sem integer vitae. Praesent elementum facilisis leo vel. Urna molestie at elementum eu. Egestas pretium aenean pharetra magna ac placerat vestibulum. Sem fringilla ut morbi tincidunt. Amet aliquam id diam maecenas. Imperdiet dui accumsan sit amet nulla. Pellentesque id nibh tortor id. At tempor commodo ullamcorper a lacus. Vitae et leo duis ut diam quam nulla porttitor. Elementum integer enim neque volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A arcu cursus vitae congue mauris rhoncus aenean. Nunc aliquet bibendum enim facilisis gravida neque convallis a. Netus et malesuada fames ac. Nibh praesent tristique magna sit amet purus.
                                p Dignissim sodales ut eu sem integer vitae justo eget. A lacus vestibulum sed arcu non odio euismod lacinia at. Risus feugiat in ante metus dictum at tempor commodo ullamcorper. Sit amet est placerat in egestas. Pulvinar etiam non quam lacus suspendisse faucibus interdum posuere lorem. Nisi porta lorem mollis aliquam.
                                a(href="#").link-black Back to all posts