extends ../templates/main

block variables
    - var title = 'AQENE'


block content
    main.main.main--default-offset

        .page-wrapper.page-wrapper--default-offset

            .title-inside.title-inside--bottom-offset.title-inside--position-center
                h1 Suggested Therapists

            .suggested
                .container
                    .row
                        .col-lg-4.col-md-6
                            .suggested__item
                                .suggested__item-image
                                    img(src="src/blocks/suggested/assets/img/suggested1.jpg" alt="Dr. Jane Doe")
                                .suggested__item-content
                                    h3.suggested__title Dr. Jane Doe
                                    .suggested__text
                                        p Psychologists Licensing: PhD, LP
                                        p Years of Experience: 8
                                        span Online Therapy & Counseling Specialties
                                    .suggested__button
                                        a(href="#").button.button--border-green.button--border-green--small Book a session
                        .col-lg-4.col-md-6
                            .suggested__item
                                .suggested__item-image
                                    img(src="src/blocks/suggested/assets/img/suggested2.jpg" alt="Dr. Jane Doe")
                                .suggested__item-content
                                    h3.suggested__title Dr. Jane Doe
                                    .suggested__text
                                        p Psychologists Licensing: PhD, LP
                                        p Years of Experience: 8
                                        span Online Therapy & Counseling Specialties
                                    .suggested__button
                                        a(href="#").button.button--border-green.button--border-green--small Book a session
                        .col-lg-4.col-md-6
                            .suggested__item
                                .suggested__item-image
                                    img(src="src/blocks/suggested/assets/img/suggested3.jpg" alt="Dr. Jane Doe")
                                .suggested__item-content
                                    h3.suggested__title Dr. Jane Doe
                                    .suggested__text
                                        p Psychologists Licensing: PhD, LP
                                        p Years of Experience: 8
                                        span Online Therapy & Counseling Specialties
                                    .suggested__button
                                        a(href="#").button.button--border-green.button--border-green--small Book a session
                        .col-lg-4.col-md-6
                            .suggested__item
                                .suggested__item-image
                                    img(src="src/blocks/suggested/assets/img/suggested4.jpg" alt="Dr. Jane Doe")
                                .suggested__item-content
                                    h3.suggested__title Dr. Jane Doe
                                    .suggested__text
                                        p Psychologists Licensing: PhD, LP
                                        p Years of Experience: 8
                                        span Online Therapy & Counseling Specialties
                                    .suggested__button
                                        a(href="#").button.button--border-green.button--border-green--small Book a session
                        .col-lg-4.col-md-6
                            .suggested__item
                                .suggested__item-image
                                    img(src="src/blocks/suggested/assets/img/suggested5.jpg" alt="Dr. Jane Doe")
                                .suggested__item-content
                                    h3.suggested__title Dr. Jane Doe
                                    .suggested__text
                                        p Psychologists Licensing: PhD, LP
                                        p Years of Experience: 8
                                        span Online Therapy & Counseling Specialties
                                    .suggested__button
                                        a(href="#").button.button--border-green.button--border-green--small Book a session
                        .col-lg-4.col-md-6
                            .suggested__item
                                .suggested__item-image
                                    img(src="src/blocks/suggested/assets/img/suggested6.jpg" alt="Dr. Jane Doe")
                                .suggested__item-content
                                    h3.suggested__title Dr. Jane Doe
                                    .suggested__text
                                        p Psychologists Licensing: PhD, LP
                                        p Years of Experience: 8
                                        span Online Therapy & Counseling Specialties
                                    .suggested__button
                                        a(href="#").button.button--border-green.button--border-green--small Book a session
                    .directory__load-wrapper
                        a(href="#").directory__load.icon-load