.accordeon
    .accordion__item
        .accordion__title Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint?
            i.accordion__title-icon.
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.41 0.589965L6 5.16997L10.59 0.589966L12 1.99997L6 7.99997L-6.16331e-08 1.99997L1.41 0.589965Z"/>
                </svg>
        .accordion__description
            p The amount of time needed for the scan depends on the size of the property. For an average-sized home, it should take about an hour and a half to two hours to complete the scan.
    +accordion('Velit officia consequat duis enim velit mollit?', 'The amount of time needed for the scan depends on the size of the property. For an average-sized home, it should take about an hour and a half to two hours to complete the scan.')
    +accordion('Velit officia consequat duis enim velit mollit?', 'The amount of time needed for the scan depends on the size of the property. For an average-sized home, it should take about an hour and a half to two hours to complete the scan.')
    +accordion('Velit officia consequat duis enim velit mollit?', 'The amount of time needed for the scan depends on the size of the property. For an average-sized home, it should take about an hour and a half to two hours to complete the scan.')