
@font-face {
  font-family: 'HeliosCond';
  src: url('HeliosCond.eot?#iefix') format('embedded-opentype'),  url('HeliosCond.woff') format('woff'), url('HeliosCond.ttf')  format('truetype'), url('HeliosCond.svg#HeliosCond') format('svg');
  font-weight: normal;
  font-style: normal;
}
