/* CSS GRID =================================
==============================================*/

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
.container{
	max-width: 960px;
	margin: 0 auto;
}

.row{
	margin-bottom: 20px;
}
.row:after{
	display: block;
	height: 0;
	content: ".";
	visibility: hidden;
	clear: both;
}
.span1 { width: 8.3%; }
.span2 { width: 16.6%; }
.span3 { width: 24.9%; }
.span4 { width: 33.2%; }
.span5 { width: 41.5%; }
.span6 { width: 50%; }
.span7 { width: 58.1%; }
.span8 { width: 66.4%; }
.span9 { width: 74.7%; }
.span10{ width: 83%; }
.span11{ width: 91.3%; }
.span12{ width: 100%; }

[class*=span]:last-child {
	padding-right: 0;
}
[class*=span]:first-child {
	padding-left: 0;
}
[class*=span] {
	float: left;
	box-sizing: border-box;
	position: relative;
	padding: 0px 10px;
}

/* FONT */

@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ProximaNova-Regular";
	src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot");
	src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"),
	url("../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ProximaNova-Extrabld";
	src: url("../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.eot");
	src: url("../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.woff") format("woff"),
	url("../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

body {
	font-family: "ProximaNova-Regular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	color: #272b2b;
}

.hidden {
	display: none;
}

header,
footer,
main {
	display: block !important;
}

/* CLEARFIX =====================
==============================================*/

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* HEADER =========================
==============================================*/

header.header {
	background-image: url(../img/bg_header.jpg);
	background-position: center 0;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 91px 0 50px;
}

.top_line {
	max-height: 100px;
	overflow: hidden;
	background: #fff;
}

.cont_logo img {
	margin: 10px 0 10px;
	float: left;
}

.cont_logo span {
	font-size: 20px;
	color: #35415a;
	display: inline-block;
	margin: 28px 0 0 9px;
	line-height: 25px;
}

.head_txt h1 {
	font: 36px/normal "ProximaNova-Extrabld";
	color: #fff;
}

.head_txt h1 span {
	letter-spacing: .4px;
}

.head_txt h2 span {
	letter-spacing: .1px;
}

.head_txt {
	text-align: center;
}

.head_txt h2 {
	font: 26px/normal "ProximaNova-Extrabld";
	color: #c3b292;
}

.btn_zakaz {
	font: 19px/53px "ProximaNova-Extrabld";
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	display: block;
	border-radius: 10px;
	max-width: 320px;
	width: 100%;
	-webkit-transition: all 1.3s ease-out;
	-o-transition: all 1.3s ease-out;
	transition: all 1.3s ease-out;
	text-decoration: none;
	background: rgb(211,80,80); 
	background: -moz-linear-gradient(top,  rgba(211,80,80,1) 0%, rgba(176,54,54,1) 50%, rgba(138,27,27,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(211,80,80,1) 0%,rgba(176,54,54,1) 50%,rgba(138,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(211,80,80,1) 0%,rgba(176,54,54,1) 50%,rgba(138,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d35050', endColorstr='#8a1b1b',GradientType=0 ); /* IE6-9 */
}

.btn_zakaz:hover {
	background: rgb(137,26,26); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(137,26,26,1) 0%, rgba(172,52,52,1) 50%, rgba(210,79,79,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(137,26,26,1) 0%,rgba(172,52,52,1) 50%,rgba(210,79,79,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(137,26,26,1) 0%,rgba(172,52,52,1) 50%,rgba(210,79,79,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#891a1a', endColorstr='#d24f4f',GradientType=0 ); /* IE6-9 */
}

.head_txt h2 {
	font: 26px/37px "ProximaNova-Extrabld";
	color: #c3b292;
}

p.slog {
	font-size: 20px;
	color: #fff;
	margin: 32px 0 38px;
}

/* FLIP-CLOCK */

.flip-clock-wrapper ul li a div div.inn {
	background: #fff !important;
	color: #333 !important;
	text-shadow: none !important;
	font-size: 46px !important;
}

.flip-clock-wrapper ul li {
	line-height: 50px !important;
}

.flip-clock-wrapper ul li a div.up:after {
	top: 24px !important;
	height: 2px !important;
}


.flip-clock-wrapper ul {
	width: 40px !important;
	height: 50px !important;
}

.flip-clock-dot.top {
	top: 18px !important;
}

.flip-clock-dot.bottom {
	bottom: 45px !important;
}

.flip-clock-divider {
	height: 86px !important;
}

.flip-clock-dot {
	background: #fff !important;
}

.flip-clock-divider .flip-clock-label {
	font-size: 16px !important;
	bottom: 6px !important;
	right: -73px !important;
	color: #fff !important;
	top: initial !important;
}

.flip-clock-wrapper {
	display: inline-block !important;
	width: auto !important;
}

.timer {
	color: #fff;
	text-align: center;
	max-width: 520px;
	margin: 50px auto 0;
	border: 4px solid #fff;
	padding: 10px 0 0 !important;
}

.timer p {
	font-size: 18px;
	font-style: italic;
	margin: 0 !important;
}

img.arrow_head {
	opacity: .6;
	margin-bottom: 36px;
}

.sertificat {
	background: #35415a;
	color: #fff;
	text-align: center;
	padding: 32px 0 37px;
}

.sertificat img {
	margin-bottom: 35px;
}

.sertificat h3 {
	font: 36px/normal "ProximaNova-Extrabld";
	margin-bottom: 34px;
}

.what_england {
	text-align: center;
	color: #424242;
	padding: 42px 0 55px;
}

.what_england h3 {
	font: 36px/normal "ProximaNova-Extrabld";
	margin-bottom: 45px;
}

.item_what_england {
	float: left;
	width: 20%;
}

.item_what_england img {
	margin-bottom: 6px;
}

.item_what_england p {
	line-height: 23px;
}

.en_p p {
	font: 24px/normal "ProximaNova-Extrabld";
	color: #424242;
	margin-top: 42px;
}

.en_p span {
	font-size: 18px;
	margin: 7px 0 50px;
	display: block;
}

.slide_comm {
	background-image: url(../img/bg_slider.jpg);
	background-position: center 0;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	padding: 58px 0 100px;
}

.slide_comm h3 {
	font: 36px/normal "ProximaNova-Extrabld";
	text-align: center;
	margin-bottom: 53px;
}

.main-carousel {
	color: #424242;
	position: relative;
}

.main-carousel .item:before {
	content: "";
	background-image: url(../img/bg_comment_left.jpg);
	width: 123px;
	height: 100px;
	display: block;
	left: 15px;
	top: 15px;
	position: absolute;
	z-index: 1;
}

.owl-item {
	position: relative;
}

.owl-carousel .owl-item{
	z-index: 100;
}

.main-carousel .item:after {
	content: "";
	background-image: url(../img/bg_comment.jpg);
	width: 123px;
	height: 100px;
	display: block;
	right: 15px;
	top: 15px;
	position: absolute;
	z-index: 1;
}

.main-carousel .item {
	position: relative;
	background-position: left top, right top;
	background-repeat: no-repeat, no-repeat;
	background-color: #fff;
	padding: 78px 95px 62px 110px;
	border-radius: 10px;
	min-height: 456px;
}

.main-carousel .item p {
	margin-bottom: 19px;
	position: relative;
	z-index: 10;
}

.owl-prev {
	width: 33px;
	height: 34px;
	background-image: url(../img/prev.png);
	position: absolute;
	left: 46px;
	top: 50%;
	margin-top: -17px;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.owl-next {
	width: 33px;
	height: 34px;
	background-image: url(../img/next.png);
	position: absolute;
	right: 46px;
	top: 50%;
	margin-top: -17px;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.owl-next:hover {
	background-image: url(../img/next_hover.png);
}

.owl-prev:hover {
	background-image: url(../img/prev_hover.png);
}

.my_container {
	max-width: 760px;
	margin: 0 auto;
}

.shul_namber h3 {
	font: 36px/normal "ProximaNova-Extrabld";
	color: #424242;
	text-align: center;
	margin-bottom: 45px;
}

.shul_namber .item_namber {
	width: 50%;
	float: left;
}

.shul_namber .item_namber .nam_img {
	display: block;
	float: left;
	width: 90px;
	text-align: center;
}

.shul_namber .item_namber h4 {
	font: 24px/20px "ProximaNova-Extrabld";
}

.shul_namber .item_namber p {
	font-size: 20px;
}

.shul_namber .item_namber {
	color: #35415a;
	margin-bottom: 45px;
}

.shul_namber .item_namber:nth-child(even) {
	float: right;
	max-width: 305px;
}

.slog_namber {
	font-size: 20px;
	text-align: center;
	color: #424242;
}

.shul_namber {
	padding: 41px 0 49px;
}

.timer_foot {
	background-image: url(../img/bg_footer.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	padding: 41px 0 50px;
}

.timer_foot h3 {
	font: 36px/normal "ProximaNova-Extrabld";
	text-align: center;
}

.timer_foot p {
	text-align: center;
	margin: 48px 0 48px;
}

/* FOTTER ===================
======================================*/

.footer{
	background: #333;
	color: #868686;
	padding: 58px 0 62px;
}

.footer a {
	color: #868686;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}

.copiright {
	padding-left: 50px;
}

.white-popup-conf {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 90%;
	margin: 20px auto;
}

.form_submit button.mfp-close {
	width: 25px;
	height: 25px;
	border: 1px solid #a1a1a1 !important;
	border-radius: 50% !important;
	opacity: 1 !important;
	color: #a1a1a1 !important;
	line-height: 24px !important;
	top: 10px !important;
	right: 10px !important;
}

.form_submit {
	max-width: 480px;
	width: 100%;
	background: #fff;
	position: relative;
	text-align: center;
	margin: 0 auto;
	border-radius: 10px;
	padding: 46px 0 18px;
}

.form_submit h4 {
	font: 20px/normal "ProximaNova-Regular";
	color: #424242;
	margin-bottom: 20px;
}

.form_submit span {
	font: 18px/normal "ProximaNova-Regular";
	color: #a1a1a1;
	margin-top: 18px;
	display: inline-block;
}

.form_submit button {
	border: 0px;
}

.form_submit input {
	max-width: 400px;
	width: 100%;
	color: #424242;
	font: 20px/normal "ProximaNova-Regular";
	font-weight: 400;
	margin: 0 0 25px;
	padding: 15px;
	border: 2px solid #a1a1a1;
	border-radius: 7px;
	outline: 0;
}

.success {
	background-image: url(../img/bg_success.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
}

.success {
	color: #fff;
	text-align: center;
	padding-top: 176px;
}

.success h1 {
	font: 36px/normal "ProximaNova-Extrabld";
	margin-bottom: 36px;
}

button {
	cursor: pointer;
}

form input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
form input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
form input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
form input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
form input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
form input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
form input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
form input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}