@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.virtual-process {
  position: relative;
  min-height: 290px;

  &--default-offset {
    @include padding-top(70px, 140px, 480px, 1400px);
    @include padding-bottom(30px, 70px, 480px, 1400px);
  }

  &--inside-offset {
    @include padding-top(70px, 150px, 480px, 1400px);
    @include padding-bottom(70px, 140px, 480px, 1400px);
  }

  &--custome-offset {
    padding-top: 40px;
    @include padding-bottom(70px, 150px, 480px, 1400px);
  }

  &--bottom-offset {
    @include padding-bottom(70px, 150px, 480px, 1400px);
  }

  @include laptop-small-screen {
    overflow: hidden;
  }

  &__line-wrapper {
    display: flex;
  }

  &__line {
    width: 100%;
    height: 220px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center!important;


    &-position {
      position: absolute;
      top: 0;
      left: 0;
      @include tt(0, 210px);

      @include laptop-small-screen {
        @include tt(0, 160px);
      }
      @include table-large-screen {
        display: none;
      }
    }
  }

  &__line-slider {
    margin-top: -30px;
  }

  &__head {
    position: relative;
    display: flex;
    align-items: flex-end;
    z-index: 10;
  }

  &__heading {
    @include table-large-screen {
      margin-bottom: 20px;
    }
  }

  &__wrapper {
    position: relative;

    .container {
      position: relative;
    }
  }

  .sub-title {
    margin-bottom: 30px;
    @include table-large-screen {
      margin-bottom: 20px;
    }
  }

  &__line-item {
    max-width: 360px;
    display: flex;
    justify-content: center;

    &--el-1 {
      @include tt(0, 126px);
    }

    &--el-2 {
      @include tt(0, 81px);
    }

    &--el-3 {
      @include tt(0, 36px);
    }
  }

  &__line-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #fff;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    border-radius: 25px;
  }

  &__item {
    position: relative;
    max-width: 360px;
    width: 100%;
    color: #153257;


    @include table-large-screen {
      margin-bottom: 30px;
    }

    &-el1 {
      margin-top: 80px;
      @include table-large-screen {
        margin-top: 0;
      }
    }

    &-el2 {
      margin-top: 35px;
      @include table-large-screen {
        margin-top: 0;
      }
    }

    &-el3 {
      margin-top: -10px;
      @include table-large-screen {
        margin-top: 0;
      }
    }
  }

  &__count {
    position: absolute;
    top: 20px;
    right: -60px;
    @include fbl();
    font-size: 300px;
    line-height: 310px;
    color: #f5f5f8;
    //background-image: -ms-linear-gradient(to right, #52c1bf 0%, #379c99 100%);
    background-image: linear-gradient(to bottom, #F5F5F8 0%, rgba(245, 245, 248, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background-image: none;
      color: rgba(245, 245, 248, 0.6);
    }

    //&:before {
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  content: '';
    //  width: 100%;
    //  height: 100%;
    //  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    //  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
    //  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    //  background:    -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    //  background:     -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    //  background:      -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    //  background:         linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    //}

    @include mobile-large-screen {
      top: -50px;
      right: 0;
    }
  }

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin: 0 auto 90px;

    @include table-large-screen {
      margin: 0 0 20px;
    }
  }

  &__content {
    position: relative;

    h4 {
      @include fb();
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 10px;
    }

    p {
      line-height: 24px;
    }
  }

  &__button {
    margin-top: 30px;
  }
}


.virtual-slider {
  padding-top: 30px;

  &:after {
    position: absolute;
    top: 0;
    left: 100%;
    content: "";
    width: 1000px;
    height: 100%;
    z-index: 100;
    //background: linear-gradient(
    //                90deg
    //        ,hsla(0,0%,100%,0),#fff 30%);
  }

  .slick-list {
    overflow: initial;
  }

  &__navigate {
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 140px;
    margin-bottom: 10px;
  }

  &__item {

  }

  &__element {
    display: flex;
    align-items: center;
    padding-right: 130px;
    @include laptop-large-screen {
      padding-right: 80px;
    }

    @include table-large-screen {
      padding-right: 40px;
    }
    @include mobile-large-screen {
      flex-direction: column-reverse;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__item-content {
    position: relative;
    max-width: 560px;
    color: #153257;
    margin-right: 50px;

    @include laptop-large-screen {
      width: 50%;
    }
    @include mobile-large-screen {
      width: 100%;
      margin-right: 0;
    }

    & * {
      position: relative;
    }

    h3 {
      @include fm();
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 10px;
    }

    p {
      @include fr();
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__count {
    position: absolute;
    bottom: 0;
    right: 0;
    @include fbl();
    font-size: 300px;
    line-height: 310px;
    color: #f5f5f8;
    background: linear-gradient(to bottom, #F5F5F8 0%, rgba(245, 245, 248, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include mobile-large-screen {
      display: none;
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background-image: none;
      color: rgba(245, 245, 248, 0.6);
    }

  }

  &__item-image {
    position: relative;
    display: flex;
    border-radius: 22px;
    background: #f4f4f7;
    max-width: 680px;
    width: 100%;
    min-height: 440px;
    padding: 10px;
    overflow: hidden;

    @include laptop-large-screen {
      width: 50%;
      min-height: 360px;
    }
    @include mobile-large-screen {
      width: 100%;
      min-height: 280px;
      margin-bottom: 30px;
    }

    img {
      position: absolute;
      left: 10px;
      top: 10px;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      object-fit: cover;
      border-radius: 22px;
      overflow: hidden;
    }
  }

  &__button-container {
    padding-top: 22px;
  }

  .slick-slide {
    opacity: .5;
    @include trn(.5s);
    @include mobile-large-screen {
      opacity: 1;
    }
  }

  .slick-slide.slick-active {
    opacity: 1;
  }
}
