.virtual-process.virtual-process--default-offset
    .virtual-process__line.virtual-process__line-position(style="background: url(src/blocks/virtual-process/assets/img/virtual-process-line.svg);")
    .container
        .row
            .col-lg-12
                .virtual-process__heading
                    p.sub-title Virtual Counselling Process
                    h3.section-title Quite Simple!
            .col-lg-4
                .virtual-process__item.virtual-process__item-el1
                    .virtual-process__count 1
                    .virtual-process__icon
                        img(src="src/blocks/virtual-process/assets/img/virtual-process-1.svg" alt="Virtual Counselling Process")
                    .virtual-process__content
                        h4 Book a Consultation
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dignissim facilisis sodales. Integer vehicula nulla felis, id egest egestas lorem. Integer consequat.
            .col-lg-4
                .virtual-process__item.virtual-process__item-el2
                    .virtual-process__count 2
                    .virtual-process__icon
                        img(src="src/blocks/virtual-process/assets/img/virtual-process-2.svg" alt="Virtual Counselling Process")
                    .virtual-process__content
                        h4 Get Matched with a  therapist
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dignissim facilisis sodales. Integer vehicula nulla felis, id egest egestas lorem. Integer consequat.
            .col-lg-4
                .virtual-process__item.virtual-process__item-el3
                    .virtual-process__count 3
                    .virtual-process__icon
                        img(src="src/blocks/virtual-process/assets/img/virtual-process-3.svg" alt="Virtual Counselling Process")
                    .virtual-process__content
                        h4 Start Getting Quality Counseling
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dignissim facilisis sodales. Integer vehicula nulla felis, id egest egestas lorem. Integer consequat.