.about.about--default-offset
    .container
        .about-background
            .background-plus
        .row
            .heading
                p.sub-title About Us
                //h3.section-title About Us
            .col-lg-4
                .about__content.about__content--strong
                    p Guided digital therapy with us is highly personalized to what you're feeling and who you are, as a whole person.

            .col-lg-8
                .about__content
                    p Through secure digital messaging, and tailored readings and activities, you’ll work 1-to-1 with a registered therapist. Your therapist is focused on your improvement and will support you all along the way.
                    a(href="#").link-black Learn more about AQENE