block variables

include ../blocks/base/mixin

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}
        meta(http-equiv="X-UA-Compatible" content="IE=Edge")
        link(rel="shortcut icon" href="../../images/favicon/favicon.ico" type="image/x-icon")
        link(rel="shortcut icon" href="../../images/favicon/apple-touch-icon.png" type="image/x-icon")
        link(rel="shortcut icon" href="../../images/favicon/apple-touch-icon-72x72.png" type="image/x-icon")
        link(rel="shortcut icon" href="../../images/favicon/apple-touch-icon-144x144.png" type="image/x-icon")

        link(rel="stylesheet", href="src/libs/slick-carousel/slick.css")
        link(rel="stylesheet", href="src/libs/select2/select2.css")
        link(rel="stylesheet", href="src/libs/magnific-popup/magnific-popup.css")

        block scripts

    body
        block header
            include ../blocks/header/header
        block content

        block footer
            include ../blocks/footer/footer

        block script
            link(rel="stylesheet", href="src/libs/bootstrap/bootstrap-grid.css")
            script(src='src/libs/jquery/jquery.min.js')
            script(src='src/libs/calendar/bookings.js')
            script(src='src/libs/slick-carousel/slick.js')
            script(src='src/libs/magnific-popup/jquery.magnific-popup.js')
            script(src='src/libs/select2/select2.js')
            script(src='src/libs/tabs/tabs.js')
            script(src='src/libs/svg4everybody/svg4everybody.legacy.min.js')
            script(src='src/js/main.js')

        //a(href="#").scroll-top
            +iconSvg('14', '14', '0 0 14 14', 'icon-top')