@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
// font-family: 'Lato', sans-serif;
// font-family: 'Leckerli One', cursive;

:root {
  --white-color: #fff;
  --black-color: #161616;
  --blue-dark-color: #191422;
  --blue-light-color: #423e94;

  --gray-light-color: #f9f9f9;
  --gray-middle-color: #e1ddd7;
  --gold-color: #f0b46c;
  --gold-light-color: #B0A192;
  --blue-dark-color: #151723;
}

::selection {
  background: #ccc;
  color: #4f4c66;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  //transition: all 200ms ease-in;
  //-webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: none;
  margin: 0;
  background-image: url(/images/background-main-min.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}



