footer.footer
    .layout
        .footer__wrapper
            .footer__main
                .footer__col.footer__col-1
                    .footer__item
                        .footer__heading
                            h4 Follow Us
                        .socials__menu
                            a(href="#")
                                +iconSvg('32', '32', '0 0 32 32', 'icon-inst')
                            a(href="#")
                                +iconSvgSocial('14', '28', '0 0 14 28', 'icon-facebook')
                            a(href="#")
                                +iconSvgSocial('27', '22', '0 0 27 22', 'icon-twitter')
                            a(href="#")
                                +iconSvgSocial('20', '26', '0 0 20 26', 'icon-pinterest')

                    .footer__item
                        .footer__review
                            .footer__desc Reviews on Google
                            .range
                                p.footer__rating-number 4.9
                                .footer__rating
                                    +iconSvg('16', '16', '0 0 16 16', 'icon-star')
                                    +iconSvg('16', '16', '0 0 16 16', 'icon-star')
                                    +iconSvg('16', '16', '0 0 16 16', 'icon-star')
                                    +iconSvg('16', '16', '0 0 16 16', 'icon-star')
                                    +iconSvg('16', '16', '0 0 16 16', 'icon-star')
                                .footer__rating-count (68)
                            a(href="#").footer__rating-link See All Reviews

                .footer__col.footer__col-2
                    .footer__item
                        .footer__heading
                            h4 Opening Hours
                        .footer__content
                            p Monday - Tuesday (9:00 am – 5:00 pm)
                            p Saturday - Sunday (Closed)

                    .footer__item
                        .footer__heading
                            h4 Terms
                        .footer__menu-wrapper
                            ul.footer__menu
                                li
                                    a(href="#") Cake FAQs & Delivery Info
                                li
                                    a(href="#") Terms & Conditions
                                li
                                    a(href="#") Privacy Policy

                .footer__col.footer__col-3
                    .footer__item
                        .footer__heading
                            h4 Address
                        .footer__content
                            p 20 Tile Yard Road, London N7 9AH
                            p Phone: 020-7619-7793

                    .footer__item
                        .footer__heading
                            h4 Keep Up With Cakes
                        .footer__subscribe
                            form.footer__subscribe-form
                                input(type="email" placeholder="Your e-mail").footer__subscribe-input
                                button.button.button__subscribe Subscribe


            .footer__copy
                p © 2020 The Family Cake Company. All Rights Reserved.