@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.footer {
  background: #D57792;

  .layout {

  }

  &__wrapper {

  }

  &__main {
    padding-top: 60px;
    padding-bottom: 44px;
    display: flex;
    @include _768 {
      flex-wrap: wrap;
      padding: 40px 0;
    }
  }

  &__col {
    @include _1024 {
      min-width: auto !important;
      width: 33.3%;
    }
  }

  &__col-1 {
    min-width: 300px;
    padding-right: 15px;
    @include _768 {
      width: 100%;
      margin-bottom: 40px;
    }
    @include _540 {
      margin-bottom: 30px;
    }
  }

  &__col-2 {
    min-width: 430px;
    padding-right: 15px;
    @include _768 {
      width: 50%;
    }
    @include _540 {
      width: 100%;
      padding-right: 0;
      margin-bottom: 30px;
    }
  }

  &__col-3 {
    @include _768 {
      width: 50%;
    }
    @include _540 {
      width: 100%;
      padding-right: 0;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 40px;
      @include _768 {
        margin-bottom: 24px;
      }
    }
  }

  &__heading {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 20px;

    h4 {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
    }
  }

  .footer__content {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 8px;
  }

  .socials__menu {
    display: flex;
    align-items: center;

    svg {
      fill: #FFFFFF;
    }

    a {
      display: inline-flex;
      align-items: center;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .range {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }

  &__rating-number {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-right: 8px;
  }

  &__rating {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  &__rating-count {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }

  &__rating-link {
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
  }

  &__copy {
    padding: 14px 0 17px;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    border-top: 1px solid #F8BCCD;
    text-align: center;
  }

  .footer__menu-wrapper {

  }

  .footer__menu {
    li {
      color: #FFFFFF;

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      &:hover {
        a {
          color: #353132;
        }
      }
    }

    a {
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      transition: all .2s ease-out;
    }
  }
}

.footer__review {
  .footer__desc {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 15px;
  }


}

.footer__subscribe-form {
  position: relative;
  display: flex;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;

  .footer__subscribe-input {
    outline: none;
    border-radius: 12px;
    border: none;
    min-width: 300px;
    font-size: 16px;
    min-height: 46px;
    line-height: 24px;
    color: #999999;
    padding: 10px 16px;
    width: 100%;
    @include _1170 {
      min-width: auto;
    }
  }

  .button__subscribe {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 10px 15px;
    text-align: center;
    outline: none;
    background: #D57792;
    border: 1px solid #FFFFFF;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
  }
}
