.benefits
    .container
        .row
            .col-lg-4
                .benefits__heading
                    p.sub-title Features & Benefits
                    h3.section-title Why Virtual Counseling?
            .col-lg-8
                .row
                    .col-lg-6
                        .benefits__list
                            .benefits__list-items
                                .benefits__icon
                                    +iconSvg('20', '20', '0 0 20 20', 'icon-check')
                                p Fast access to a multidisciplinary medical team
                                span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dignissim facilisis sodales. Integer vehicula nulla felis, id egest egestas.
                    .col-lg-6
                        .benefits__list
                            .benefits__list-items
                                .benefits__icon
                                    +iconSvg('20', '20', '0 0 20 20', 'icon-check')
                                p Fast access to a multidisciplinary medical team
                                span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dignissim facilisis sodales. Integer vehicula nulla felis, id egest egestas.
                    .col-lg-6
                        .benefits__list
                            .benefits__list-items
                                .benefits__icon
                                    +iconSvg('20', '20', '0 0 20 20', 'icon-check')
                                p Fast access to a multidisciplinary medical team
                                span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dignissim facilisis sodales. Integer vehicula nulla felis, id egest egestas.
                    .col-lg-6
                        .benefits__list
                            .benefits__list-items
                                .benefits__icon
                                    +iconSvg('20', '20', '0 0 20 20', 'icon-check')
                                p Fast access to a multidisciplinary medical team
                                span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dignissim facilisis sodales. Integer vehicula nulla felis, id egest egestas.
