@font-face {
	font-family: "BasisGrotesquePro-Regular";
	src: url("../fonts/BasisGrotesquePro-Regular/BasisGrotesquePro-Regular.eot");
	src: url("../fonts/BasisGrotesquePro-Regular/BasisGrotesquePro-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/BasisGrotesquePro-Regular/BasisGrotesquePro-Regular.woff") format("woff"),
	url("../fonts/BasisGrotesquePro-Regular/BasisGrotesquePro-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "BasisGrotesquePro-Light";
	src: url("../fonts/BasisGrotesquePro-Light/BasisGrotesquePro-Light.eot");
	src: url("../fonts/BasisGrotesquePro-Light/BasisGrotesquePro-Light.eot?#iefix")format("embedded-opentype"),
	url("../fonts/BasisGrotesquePro-Light/BasisGrotesquePro-Light.woff") format("woff"),
	url("../fonts/BasisGrotesquePro-Light/BasisGrotesquePro-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "BasisGrotesquePro-Bold";
	src: url("../fonts/BasisGrotesquePro-Bold/BasisGrotesquePro-Bold.eot");
	src: url("../fonts/BasisGrotesquePro-Bold/BasisGrotesquePro-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/BasisGrotesquePro-Bold/BasisGrotesquePro-Bold.woff") format("woff"),
	url("../fonts/BasisGrotesquePro-Bold/BasisGrotesquePro-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "AktivGrotesk-Bold";
	src: url("../fonts/AktivGrotesk-Bold/AktivGrotesk-Bold.eot");
	src: url("../fonts/AktivGrotesk-Bold/AktivGrotesk-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/AktivGrotesk-Bold/AktivGrotesk-Bold.woff") format("woff"),
	url("../fonts/AktivGrotesk-Bold/AktivGrotesk-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}