
@font-face {
  font-family: 'QuatroW05-Bold';
  src: url('QuatroW05-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuatroW05-Bold';
  src:  url('QuatroW05-Bold.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAEOIAA8AAAAAhnAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAABDbAAAABwA
AAAcZzL+LUdERUYAADRUAAAAIgAAACYCEAD8R1BPUwAANMQAAA6lAAAtsoHaqeRHU1VCAAA0eAAA
AEoAAABYsku1mk9TLzIAAAHQAAAAVAAAAGBosADbY21hcAAABKgAAAHyAAACYpo31iJnYXNwAAA0
TAAAAAgAAAAI//8AA2dseWYAAAiEAAAoBAAARyAEp8oyaGVhZAAAAVgAAAA2AAAANhL1DiZoaGVh
AAABkAAAACAAAAAkB6QD+2htdHgAAAIkAAACgQAAA8gckCYYbG9jYQAABpwAAAHmAAAB5jFMIB5t
YXhwAAABsAAAAB4AAAAgATsAYW5hbWUAADCIAAACDwAABLYwddS0cG9zdAAAMpgAAAGxAAACU+FQ
aXcAAQAAAAFMzOEjm7hfDzz1AAsD6AAAAADX8z7jAAAAANfzPuP/vP78BDIDswABAAgAAgAAAAAA
AHjaY2BkYGDe/O8PAwNLwP89//ewGDEARVDAJwCsBweleNpjYGRgYPjEEMfAzgACTEDMyAAScwDz
GQAljgGdAAB42mNgYbJj2sPAysDA1MUUwcDA4A2hGeMYjBi9gKLcHMxAUSYGlgYGBnUGJBAQHOLD
qMCg8JuJefO/PwwMzJsZWRSAGkFyTOpMF4CUAgMTAB3mC+p42m2TT0hUURTGv3PuQCluwhq1UUdn
RptpjHFCmX+hJjMhFDRQBBIE1ZBBmzSKTJs2rTJCsF0QGQlu2kw7iQqDjKBCIslNhIugP+SEgWDm
63uvhEF88HHOu/fce879nXs1iSzs7zP1FZA2HJAbSOo8vNqMoK7QPoEXn5CUHvipcplBo9bCJ2Bc
GAmsISHTqNECwpJHFceCWo+I3kSthhDXy9itZajUcwjQr3PiXUjpdv5nsY82LktoMvfg04K1qmPI
aB/n3tDmqCz1An79g4xEbFkfdYpje5Axjyil/4Xxl5B27C3+H0KTXkG5zqFDJ6xV8w1letda02vW
so4iIHuRZs3VtLtUmLeGNf3CgCbg1lNIsN565m7QDOpllGMnqRxS4mZclTWnhx0/Ze7wHDly6Eed
Y0+jQR5wbomsJrCNY3Fth5hxxPQoRDuhGiW756iREGug1TSSDnsfWbjJO8rcs9wnzHPsRNTsx7yJ
oVEeIqQjnDvDXiyTRy9y0sXzHkOnTCIqY+Q4iT49QsYW63yH89LK+mcYMwKPmUKDuQ6vS9AiP+Bx
WG8i89Mqkr/fYV8ici/+5/+BeqlLjF1nv0Hymz23fZt/qWz+Q1wzRFY2601k8tih5eRA9qUSt7Vg
M6d9RT3WAadH/9hvVAvz96Pa4V8qm7+9htbeS7utFUnARSYB857reG/s3q3fE7tXjPfoJG47ymNY
juOCPMVZeYthvo2LJoirZiuaySylC6jQE4iZJGJYRRSLrJfvRF6zP8/oz9Iv8v1UICK9yJotSLiy
8MogzzfIPJXWd53mnVzkfeHb4HyZqwKtUmDdPWjTLuog2qkO7Wb8OJndh/svTUjHJgAAAHjaY2Bg
YGaAYBkGRiDJwBgD5DGC+SyMDkDah8GBgZWBh4GXoY5hMcMahi0M/xkNGZ0YgxkTGSsY6xgnMR1n
usu8knkP8wEFEQUpBTkFJQU1BQMFKwUXhTWKSkpCSlJKckraSh5KCUqpqqd+M/3/DzSVl0GBYQHD
UoZ1DNuApjkyBjEmAE2rBZp2jOkG1DRhBQkFGQUFsGmWWExLAZrG+P///6//H/8/9P/g/wP/9//v
+1//v+B/yn+//17/zf+x/P3yV/Ov+F+RB4ce7H+w78HeB7sebHyw8sGCB5b3j9y7eu/cvdP39t9b
fK/nXudtVdb3kBCgHmBkY4AbycgEJJjQFQCDnoWVjZ2Dk4ubh5ePX0BQSFhEVExcQlJKWkZWTl5B
UUlZRVVNXUNTS1tHV0/fwNDI2MTUzNzC0sraxtbO3sHRydnF1c3dw9PL28fXzz8gMCg4JDQsPCIy
KjomNi4+IZGhuaWtY8LU2QvmL1y8aMmyFctXrlqzeu26DZs2bt66ZeeOXbvvFqSkZtwvnZeX9awk
803r9JeFb9+lgdx25VV25aWl2+uSc1+cfM2QU/Ugqb5pyqHDV6/dun39xrb3+449efro8YeP98pu
3nnY2NnQ1d7T29c9aTLDxJmzZuw/dSH/zNlz5RfPnwYAtWfDNgAAAAAAFgAWABYAFgAqADwAcACw
AQwBVAFgAX4BnAG6Ac4B3gHqAfYCBgI2AkYCaAKkAr4C5gMmAz4DkAPQA+ID+AQMBCAENARoBNIE
7gUiBVAFegWSBagF2AXwBfwGFAY+Bk4GbAaEBqQGygbwBxwHWgdsB4oHoAfAB9oH8AgICBoIKgg6
CEwIWAhmCJwIyAjwCR4JTglwCc4J6gn+ChoKRApSCoYKpArOCvwLJgtCC3gLmAu2C8oL+AwSDCgM
PgyGDJQM3Az6DPoNDg06DWYNig2eDfgOCg5cDowOqg66DxAPHg86D1APdA+qD7gP5A/wEBIQJBBI
EGYQlBDMESARVBF2EZgRvhH4Eh4SVhJ6Er4S3BL8EyATRBNYE2wThBOcE84UBhQsFFQUfhS+FOoV
BBVCFWgVjBW0FdwV+hYkFmYWohbeFx4XdBe0GAoYYhiiGNgZEBlKGYYZmhmuGcYZ4BocGlgaihq8
GvIbPBtyG4wbzBvyHBgcQhxsHIgcthzWHOQc/h0WHUYdjB3WHhYeOB5aHnweqB66Hswe6B70Hxwf
OB9eH3IfqB/IH+of9iACIBQgJiA2IFIgbCCGIJwguCDEINwhYCF0IYYhliHMIfIh/iIUImIijiLM
IuwjBCMeIzgjZiOQAAB42q18B0BUV7rwPecCQxMYptGm3mkMw8wwdwq9SVWkqSAo2AGNGGyxxCgm
xoqxJnHXFKISoym7m/KyeWkvfXezbkzbTTZ9d5OXTbKpms2ucvm/c+4dGBRN3vsfOoXh3O985+vt
DoOZRoZBn+E7GJaRMUwmkhtZuVGOPhO60M8rha/xHcMnsHL4CwZ+MFMFz1/hM+JahZyTs35e9fc7
Ik/iM0Ii+mbYs28fXZeP3keNo+tgDQ+P/GVFvej9b+GHrtGPvIL/A+9i0hk9YCDjZRx9cEH6CPL0
wcv4IAsP3G9oSW1J6kiZo79Vv8Jws2FRxjz5otSFhpuNKw0n5SuS8K4Hd7TeOAQ/N7buePDBB4UX
W1sJzoixjxzHEayfyWaYSM5vsvnVvLcY+X0ubHPBSyAIqKk1KitnilIpdZEqZQKSoUU7m2atLrH5
MtSuKXFNtTM6d07OX+gJVqU4+oodqbq6wOzpikNauVmnMmk0EWltU1uWKRe0sXE75UarSqvgOFeN
J6ulVM5Ewjn/hd/B7wItUhkjE2RKACkecayvGPNeHQv7Yc7kYtU+qylKqfYqLvM5+sdK4b4V18ot
+VZFli1dPfrmhXR7err9k8v9AZ8Z9mCPpcSVFp1iKnCH3sT0WSx9FuG1y/yB8ucsPgJ4W5gc4KFS
zRtVnIKzJSDACvt9QaufYqpRmTggJFBPw5kSkAoWegPBz70W1Dav42cK66rJ1umN9mtnZZQtLuvu
Rtion6b3VT5yg84lL/PYGrUYmbM2Cr8r0jsUgZbstaUV840VQXPGQHR0nPmc0ZHk5g1aykeQKeZu
KlNUovKXEVmCz7kRHhXj80wCfO4rRkE+CiuTNZwLc6nljluK6uuLbnEU6pGm9uQDFT3C+S+F8z0V
d94tykYsXGsRr0WE71wg2YdtvA4jywQXo8gvUaR0MWKMqAfdjd+n+/KyoEamkdlktqAtqLm/F12t
W9cwq7xsVsM63dX4/Y32Dm5BaWdn6QKuw06uNTFO9G8kMHEMA+JH9EPFqUA47+u/777+N/tPnoT/
9Mwja5jfMUeZKIbRyHm1SinL3x05ZTfKTuNWb4S/5zFvom/RTEKToN+oykOPvdnfTz9nmBfgOvI5
wH1h4OjRowReKpz3FJwXPteAEKYivFe4cJr9zYVcUb+zgOc7gOeTGK3Ic1FTEOEscNurwyCVJhd6
s7IEpEyb7yqpPKWrWnv3uiqdrmrd3WurUM/6LvPcOfVzPYufPXRjT1HRkq30pUektwae/MBDOI+R
k8v8QR75j268czO2eA/VEl0FJCLxe4yKYXh/MUgZaKXMH+C9cPQoGa+yT982taqWn72wdmDXVSu/
6S3bdq3Xlyvfo9iwsv7+7pvoHu6Rs+gcfofJIjSBEwCQLOQXT0KUnMLTYQKQPBMts3oapm8q5efN
MgXVBXmWxZruhZbmBntOdipvyJy6tFjfhXbEzrJbb0yzKywOZfSeDDnflO2blRGbVWnkZxboo2Hf
DMD9GjhbIpEHloezSVw1+n9516GHDJu7u+8U7gNDucC//8Wbjh+/Hq7JHfkeY/wqk8IwFoKm3Kgy
qgJqEStqqQKoo5w/he4Xvjpwi6v5quLaWfP8NTVfuLPQroHVMWtWVyzIT0sckOeI/HOMfIdnw9kz
GAeQQgPHVRUjOC2SrAkWdZalLIXzI0IWbEOVeW9zHZlVC4O2msUFxUvqnc62HW1lGZxHqa1QozJv
Cq/Hp3fHPZmkyplT5WsrMVlnDMxv27vQL7B6c1xibEVDsovQXgFPF4AGcYS/geSgEYQyASPuOLu8
Xfgt+rSxxXkncq0d2LXkwccYkEIzyFsl8DuDyWQCYJ9NxKigkGkZY1KUTWSfjRoYBbXUSEM/Qv4b
d6fxhlZDydzC7PZqZ5Yjy5uwd4vKa57akKHPc1ncmmKvQumKXzFfVx1Mzltkri3g1HydJ6fRrCnL
V3SvHEiwpmV4NIneVIsXveXSyi26SZOyUy0+kaZawLEedILSNGgjEkVtIBpDktBWoSTUDARFZWn6
SSSdiKJoOIyiZH+qy+g10ZcSbVZQjR4gOo08x46RNQVgJ16ma2JB+uDvqYhai9/sAXOBXjt2bPjY
qM0wMzHoXawgOpiN/BbVJITeFWrQr4VnUXHMvQ/fe/fcuXTfQqYLK9GfQz7cqIqERyF6S7Cjt1B7
f/9ZsDSE57kA72sRniISFmWjXABWg4qFZ7EiDJ5lZAT9kZWBt+eopWZD6kgklIg8uF4NZ9WANdzi
WJoUWZCrazZl9bp6rk80dKQkREbdGSG7C6G8BYvTkmUZ3KTYA3EJi5sy+MA8Tpcep9QqP926lexj
Gulgt+DbgBJ1oFVBq+iVwFGZrDZO5BxlnFojo/YNAgFYAlzUwYdBDV3BhvMWfa/QpMtNijzFI/7K
BDalSJda6spwNvntnZlpao06W8/V95WWr5rpcjatqmqskzuWe+o3z51in7z+7o7ZR5YXWMtbn9ob
r/DoS7Y4TSlpqZVdtX6bLuVMgnlGXX2JPbupr6RmWYUh+ZpJCbbieVua2m5fWeKds7GqfEkVR2Vg
5AI8PQp2QkY0i1Pw4IeNMgXLsxFfvv/VfVnCWee9nc/Owa8Ou3ftwlXC6yibXMcylXDdamqTNIwB
mEUtQZRMRcwpB1GeN+D3ZSGVnCdvwP6gNdWL8rNda7b3Cb9Brmxn59ZljqDXsQKfcbXkO2ekRdiv
61gJEcUTDkvNrchkc5g4KgNmsDtloCNaylkaFVALo5KUQiVGDebsWf0Ny2Zz87muLndLsW2h3dnr
mrGlJQstmblrPp96MF65dH1Tt1+p2C+Xe+cOULkhZ7gXzh5PrCSJTyW2KIBxYDEJC1Gb8AVS1l7X
npPTft08jbvGNWdOfrMHn8mevXNW6872bNTtbio0CjXe+aIfIjBLRDulICZX+leJ/i3ciwzCh6hZ
iMFnBg7u/vnA6PoCWB8ztl7OVaLvhV8gs/DuECy9f0A4J8LmgBaHgRZ6yYOCg5dHjdleEDtqIvDL
vXPNeccPbmvbNiPTu+BQJ78+C2Wvdzibyqyoe/m6uB+EY7xvwUBLw44FwYS4/ZPkaXntIVx+LeHO
Q6jOQxhOsDmOHENDwh+Pg4d5B1mGPUgvfCStZz4T4yYeFlcOkYiQQSPvj9iZL+BzYjHkJPixgT2V
f85NKZ3HB2DN8eLlS4KbXZ0+vESkAcSx98D6NBFOECTGRo2MBnisghNa3UgG4OfsjDjODlXpyv1a
Y+PKvPypgNAftFn3GvQmyx/bVvOmgxFt3UtShe+ls1gAZqR4FuDAECoQDETCBsQ9BXa56FMjOZYj
JwXhh9PKORz8rz3Rt6PonbEDCN8Wg7F8+Bu47lucAPFuogT7SZFnRgRX8CArcpwk/HnoV8h8DD0l
lANiPDoNxKByRmT4BfBF0UwSw5iJbSJWw5wUMKiTogxY29x68mSL0H4K1Z88KTx49tPVn/7dh5Y+
/bRwy9P0+oqREbwQ9ksgUY4FHP+opLIqUb841LNpCOly51ZYzBUdDy8OwM8zz+AzmTXzA/75NZno
hn/W8L4aiss+iks8oyQaBSiokmQaEmdTxJIAL4LHsdVvtBwbQv8iqLWinkeefvqREaZp+yL2qZJP
VwvSuQgdrgP9SSKcU0hGDcnAhACOCpVoAhFX+e+ZfVUZaV7dlsd6Vg4NLbTkpKXlAG+sFXN5U3OZ
Svj+/fdxxZ91vsKcdCoPFvCL2SDnEGdZyPFcrI3IOAmuEE2nqI8OJTIQzCC2uDwhw5knq59h2beP
q2qKXz3tOo3f21SXrdFW9tYvWXuw35mZnKaIi0HxwVn5y/siY9A+xTSVPik63uCrzXG3lpg1+9JJ
3A5n6gNag2dCKiIWnB/3fXT8I1DE4SdwBZWdYsDvsCg7EQbwh3JAh0QRRAoOD9993FXmK3Mdj0d6
9KTgzy5NSSnNRi8LFeRs1N7eI8FnOZYHocP3fPLBf/9yUHOIJlRnhj/G6aK+g3yxH4n7GGGtuJr+
Y/HCntglf7rngasjN57aGLnk7hPokLAMpC4SnScPInloRIC9jkgxk03GgVXXBHlWgd7Ze9N//eX1
Z7Zc+8yZD8+dQxvRjM8/F04IO8k1/4RrdkiyzfnFHVm0/9g/f30getcj//wC/U14HhUKGdQ2S7SK
IbRCoGN+ZPTjucJtaM3wE2iJsBef+bnQuucwuk+0dRWQI8RBjkC8PgSwcnhUvFRQ8BI+v3u4YUA8
cwqsOSnmEQrEoRMI7xEu4PMXctnf0L/bRnjmSxGGhgP7B48vCYzTu/GvBkj+g3rRB/iUuAeRRBn3
xLbb902JmnIQnxKeu+suksNAHP8h00tzFZrbnIhfvx4+X4m70XQ2lu5t4zVvdw8V4m4SBoGsq0d+
wBGYB0k3E8h+X1iAIYdtosS4LaDxE/Ek4fUXa3stV5ncG3KWrd8RH9HaHJxm73tvdpNFm56PZmaU
JsZujZ3Us1j4eaDYXR+Y1vHEjIBWJxfjMpCvcjgj1SskCjkQiyYXMthYJifwcblhyqqmBesHG5rs
NbnGY3Oyi3RcTRHiilc1O0344++y9GVLG27SCt9G1Yu01cG5/wZnSCV6FVRR1yH5VKlGgVDT5MbG
zsDCBre7YWGgs3FqTXUNV7xJszMlo2zl4MryjJRdmoomvsxI8DRAjuEAPBNJhqJIMno1hCFiHo+C
YtQjJ5ANSG/IuvOGBON0S+XC4DGc6DE68jN0tZNRBHJHnh6O1CdrStfOk5mLbGlIEVEHsHVgM02A
q5J4fgvgapCLTk6LjNTzW3gaXSGcuqFL+MRavahoTb8whCpnmpYKf3ocKWwmZbb2zh0c0lcvrzZv
vrHaG1S+lO5IUbgpLdTwdAvEjCoiuwRHLeIlfQ9SU4Nu9hq57IM33TF5cuu8YjzcL1Nm6bYL89Dg
hvjC9qkkBlKP2PAM7GNcEKlOptYU8IMzq2w0LQIy2ICo6gJEg1D4FbKPoF8sDbmQJeQIAoqQyPh9
+htWK6/PKs9flJDs62nO0sUoFLfPmz555/Lr1s1WajK0Th9qdGTPmpXtQL217tzSUtTdcXV83Eac
6ErJrXdFJsmTlNVT8hpdFRXtaVHxDkW6N0HZmGd2NEyzCY8EMhQZegc9fwH4FCeVMZIv02yYeDI5
HEGFnYOaDFfj4GB3zVHUm5GWKWzD54V/lZyQcob38NdjdTqSN7wzePQ4tg2/jW2/3bNHjCvfhBjg
fVgXAxk/rAsFAWT1u2hue12+k1wiOJbtc66wTKtEf6RXErx+wPmAF8hoUEZshDxYjIqAN8SzaNQa
IrU2gRsczHbmD2oDWTmmVk3G7ilvJf0GUGxRKqZXauT+udMymnPx/ogbRLkvgOd3JJsCGL8ziM8P
R8Lv0t/YRSBnJpEORKsJHVS86G2kHFcu/QnrB4MpRSmDN0csrHWXpEXwbU5flWUwmFGgRr2B1CQg
lC042WCWWS322oCwmn4o1pgovXlGPp7edJ9Rgt8c0Vs7SnEAdGIsT5wOcpZIqMLQOgmmNROEfaLi
qr14uqOuZ0PPVIdjKrzUbcgtLsnN3YTaBnprzFxN702gA+aaEeZwXV3dVKJf+SM8rsBeJpnol4Zg
Ep7O2xQUQxURyncGB60z7cVtblt1Z66Xf9Fjc5farUUFp/FZXmeovGZG/aoaUzxSTyl3notrEO0C
jzPhrGJcIFoY0Ctqb4LKUaMwsfmKoOZr2PQFNV97tWhS1DSRT+gwdtB6GsT8IvGCxSy6Nblh9uCt
xjS7xYYdx1mFXvgFtrVo5CmJMVLMjN4GXDiSo0CELNFLQ2IVUEhbkNZxpIotSrbPM0a25eVkc4V5
de5vbKusEesKWyaZcmVzqzAfLduRlKxKUMXFGitzH5dFDShc0fK4OKSYUfQo2Us+cg4dxEdpZEUU
W0xOrH5iU0jJ5rvydJdhjmFKZfkdlXeiwU9yY7fJYisrkXHZLddupzWbs2BP7URGIGalET6Jwalz
8eeKIrIznsgIaM5BkBK0YfhtKiUI/jHYh22S3yNOm0Onro7qPfHgK7B4B1o3/DaVw+DIWfYq2EMr
7gFbWEncQk0qeaMk+hUFSAcHK53lEbeiLFumd3DT5uvLZjw/ByDdFLRqnShfOGw0mMxoofCz+Vc1
NCxdxoRwmA44kPxBijU4iDtefOGlRfNeev75p69a8jTECcmHDgnfC38lZUO4AoOsFMI1MSQOD0oh
DmoYmlz0wANXRa04dfo0bLoNbRBrmwxWimtJ1YClEYcJfTiC5IIKRaFBSC7PbF+B3KQeKQjoFBvF
+AgvSFI6mjCGPHWoekfekNpQWGoJ61/xaTKs8lh77uSKyW05qalavV6bmprTBr/anWqLS4Oioq31
hk1Koy0uctIOuXtWWfa1SWnGA8a0pGuzy2a55TtiYqzZyk2G+lDsw3w8ZoM+visspgnDNei3UtTE
KhqtJyKKPHgRVQg36ln8IssI7md/DFfhf4AqsVWQvcWj7cQ3IA1Jv8AU2Giow3sxE+/3OQct+f4Y
fWWG+06TG61anmrTrkxMstLazgjHfILOiv5BAwJFakbld0Sdeg99KyTgV/fvF/fQj7SgjyF2zKC9
Exrej2uXUD8aJUOrdpS3exb17AjmT61pKq6qndzoKzp5PL56VfOKg6rjgxHyvZra6oo6zU1JkVKM
M4KjIb9JJ7gnIFIoVUbJNAEgnxE8iR/iRTBI6CVFY/XB29LSkG/eMkGT7AtMqcts6MPvHZRNqR2o
mhofkbB/B55RNVB2daOTwjXA4X4F+GpoXV2Ki0kVVqzEAlh/85aHaJD88Jbnn3/+2AsvfLEVzaPB
8uBW27aSkm02mjOBHHxC5YDU3EC7FWDIKu8iP+eEYhyFnhVtfs7Is+gsPsvwTBGNLIJEZvkxC6aL
oBVMIhzUjEnSQAwZDkZB7AWuy+pN0ar1X4k2ze3WpG2v4NLlmviNa4hhsy6xOB1J2mqcU5V5X7zS
Ui6LYR2oKrWcU5Vxj0bLBpLUiklJ0fqsomx9U0aaTTN3AZi8qBilOj4hPhHFmYrXpllTkhKwxinW
kpi3cTdeGzobIlSBB167Z+sefP4Q/JCYyQj2R4U/AL9jhqiJMXuLsVgmY2n4KTo3v9gRiJCkAA5I
QisqGmh2/5rWnJzWNaXuOXUVxpxW7Cro2X14V09BQc+uw7t7CoRGa1ZyviUwZdasKQFLfnKWy9O6
un9NS04GP32pp3R1K4qbuqsrP79r19Q68VWzwBw3M3b2bbNjZ8bRc2SiLLQGcohoWtnyU3rzXpsP
hGisb6BFomG2olifTevXPj61qdJsyy+dww82ydj8Il8lujmokFvSCvyJKeqkzuR9n5id+RS+juZN
NiaSWEoERpJVGOkz6rz77iNDQ+h++gKG7x+k+oQUoVeqm2XYgppJXQPJbX7ItyzXCLtRs/BV/Mad
TATDIQ96HXJnUivIJF5TIZkQkuQDP4KhioHMK3VBxAKlBayKWHlmSZrxyzqdU56gsOXrdYFAyiS1
PBmn5RXquqrT8n2W5KwKxOb1LFuSF6fzNWYZamqteJ3CrEgwTqovLb2nOClpkvy75JxqrmZxsqPS
SS65P9Cdm9sdUAWCvFFd2CbagEWQb53Dn4h9N6NqEdqPuzdvlmom6FOUAeeQkewX9NOrVkaZfBDo
BHxWk7mmp6amJ8OTkeHBzmUVFcsqDngMBo8BrithyrEGaMuKHTCjyiJ1wUpIffm+/vvK+/vf6d+1
i/SycpARrcZvk1xA4SdVY8JaqWZMekLeqMZie6vJl9GkmdGcP20fMs6KLPT71a7YZZExtRX2Ofmi
38sFr7YE4FgJHHWo4im6FklaRBbQhgOITF4wy27V6qqK0oxF3tyimux6u1krNysXtatqkK5XplAm
KZpVyaaE3qT0XJMukByZ7tQU1UTBXt1AsxoxR0UyLohqujcUsrFirV474sQxYKPiqfWTj1YGjXLJ
ZVDc5Ki81t1cYFAXduaguPzVHQavM7GkBJ8RcswlLW6uvt4+XNPc5Ys8FJGdj++hPb//ZF5EHZRP
oNEv7kEdsCFi+kZsaBaJSEkeLfbDbBDpyELZT59d6+O8pjnJTqd+apbt1QaZOk7JRteaI13mVGeq
aK+RkfkGv0pr/GLf7puNrcu6gTMe/crskCyY0THAJJ5ka4qwZCqgIQJBiPzXlqVZM0tbe5ay9hmZ
05vxPV2zi2bmLJw3u+sZj8vlEfsEQBXcO6Z3vILl4hB5Rq8TfTuyjD6HKxx5FevdhpFj7O0011XT
rJyXhfXhOL9FxJ1FPMK917U1K3uKize+InxAzrIFPbpdqEa//EHfes3S+voFK+jRLrzGzrpwD4Wt
B9hzAXYUE8sYR+lAYFkmEstvw4DaLhHRMOAdE4kr7OeE/f5Gz6IAe3LJWWIQH4N+khzjh8eO2kkR
Er66kmiPkkD4juCHrr2CqBN+CRfQ73GE2NcB18BKIwBSWO0rjqSFYhtgjfou39jBl2nsqDJoY4cV
eyDsKdoDSRzfBXEjXjOuE5JPikJh3ZBnaH3oijAUoKfjYBwFnQ2HgRYRIONhJI+HEYQ4OngRKsG8
3O1zXugch82SJePweYjC4sbDslFhItWZ0fYJuLhxoD9LqTAkOltcamONZuxt+E5PbEjTxmTF69Kl
V4aJkPY8ItFAcREVpHhg3D6nSWwQTomZUpwgwZoLuZCK6gQE6FT4ZBQgp7BqyEmkqgkJif5mDvqC
5igR9n1fRl0N4B0KVVIKeeBzRp9S6TMq5HSvM/IjZLdfJKcoNPAg9YqvYdOXaa2VdJrDOjd+TsaB
rZCjKnzjWAvn47LH0RP9Q/jMgV37D+wHkMXCW8hO800b7Ve5x9nEUEv30uZVIgpZy6+otdTfuPOS
Vpa1yxE/3oSWK54cvLivlSjHKSHDKtbmS0CWqDSGd6JIZXNcN+oPRKLFjhQrA+m5wrXE44y7Fu0n
oixdfIqK3rjrky+6XpTi8SB4SYxDKEgiLPUYS0CeJGkaB0mSpvGgfk/ESYJzRJQkibfMZ4APjUtJ
h4klNBg6SA8+7KGnlvBG+eHriOZWDjXSM8I68YB45C1Y10rXxYbgiecaSgudhUAd1UXI8lAXnIMV
u6y8lBVR/Ic2UpxhfQhhsSd7hvZVIP5k/fxou4czyi2QGmbRtIb0V3DE8tHuZC24rCc9zflzVq2a
w1X4DShtP7KMtinTptXM9Rzcv1PFTx/l0ZNgH2KIdo11sdCEtmG0tzV8ekLDEN7yYvEllkGcx/gO
v8Ceoj0w5QRdMCKWF3fCFgGDxnXDWAVQ9MdhETG9GBYqBS6OB/YfITkLh6eZEDfK3otBfiAy+yIM
KddDMB+iMO0TwGQnJvRFW1RPSO7xOyZMQO8Iaf8jEo1SJqJSKEG7mFJrQCLHb3EipEuIcTBl6DX0
dxpd05E0cTxta/v6te3rNtDnsvYN69rXrqfPEn3fxC9AvKFitIxFqpNrpDiRlJuAuqRfoFEQOx7p
s7HEqptPnajP1x+synafPFFdrLu50uU5oXhVq2uZjpqT/5Cib20mbUmV7xr3/o5HnlZ4V7sOdjZ5
UWd036ppOcKQrE+0RbRXB7ylFuTibh0iQjfWsROIRbikbYe+C9m1K8JiidCNwdoF4nYJKHwLta9j
cNQTwJGEbQzUWVHOJkBMkjUR3hGKl2YCiCFGj4HsBBZfit12ymYs9gABP1q7H+sCEms41gmcAQcc
7Qbip8Jt/yLqR1NJtsCLg31ZpJcayYVawp9ty51dYjQWtwV2D6HYxYvTeV26G5+ZY6+dv2xerX0x
PvPlF+lFhbkGqR418k+8iI1myCCYP+TvaU1+dJQGyUZL16LXBT+LlLll2Xa35w5D2eIye1OpPSNb
PW26rnB2rqfCYVieWc6hqVsLrPqsyhIhFjP+ubUODT/NZa52xih6a7Kayqyx10d36QNqsdfzA46A
vIv0/+w/sQNI3MwVuoDrQNou3wlEf6a8/d/sSxh1hX27gHOX3xdfd8m+WT91X1F0r7B1hCjKVzq1
JNNk/3hWS/cv/In7T+y8roCO8MXE7uzy6H1wqbGNkHrD5yUeOX8qtSS1vAJ+d4KaXoFTy6m+Svuz
mXR/z0+mFjsWPJMRXBJekxqQ9Qr4zA7F09NosE2eroAeL4XXueUk9iZPwFfVyHfsbMwzNsZHKpsW
2s8LIVeAgmODe5pAeLc3aLWF6sKBoNT6ZZs3dB2s7lwHGF7d3SeL7BHx7s4v6xrrBRdGxLFN9kyC
/i/D2sLTagmqbZYCirzLJTaIo7A9W5cOyJ8WO8WkTm1DnwC+2ePjeey/qHFOC5VjwfyjNJjXVc31
hffRXZMbq+ouDuVjq9bMbAzrrGt2KtlUKZBnxT446CHpgxuv3AkPEm92pW64BwzOhB3xb2n++T/Z
i4ZYV9oLJYGVmXAzdHMo7grfz/xjZxO94pW2vEc0LhOfUAzGI6S5gvPSGS0/csqQ57ziST2gpROf
dNtYDvIX0oOmdTsZnS7Rk5C7FhiSMkhmTEpJ85zO24KP84XWESprYB3yATHrBkmd7690IR75Hfy1
lq6LlfrwIoXeGdwu5SC0H18qnpsdeQLWt0u1+bix6nwkgd5OzIx+UCzSvyFiQuvUEFfMwMOMjlY2
baCCvJrEe6KrHZ071NiSpTtJzjmdvtz/TE7My+TaWqV+tK1qXjCVc20ObsrN3YRLK1N5R2KSoVLZ
dbqjSuxNV09eVmuJDAjdt0ydessU2psewU5WCbl/5kTdcsvEoXN4D12wTmzYw1rrf7rYkrNin52N
o7GL9rKdduLVJ+62byEOfeKOO/pczAV/4h7Eg0+8Rxtx3hPvgW+aYA/DFc4hqtSE28gkR32504Ry
W2kvNd0r57J7XSatnHBr4a2JeXcZVD69mI8R0rzEBYnGxstTOaTeE+Kxl2jFZSi9WVJsFvIhJ8ZI
GNUrzs9HGlXGSHhFLf39wht0rN3Z34829Z+Ef+SalJEB3IJvAn9tJDGdZsydhIrnJI6VKZSaoM0U
pfHZZEC3lA59ZiIgWOS0BQ+22rMB5SKrvUgVvT62JPcfsmtkJcHVJ9KmzTQTKxSz6A7zihqiX9F9
aHtW+jto6lRr+h+niHpN5wxAPuS0nn7JpAFJxcdNGzxOCiXjJg7Q70Px/o/AIhZsHCx0kFRTxgHD
V0v1lzFYKRPCEgV2PLjMkLUbj96ofIozFRcofqkTQpWEYDzYl0hVZjyW80L1GXFmAWwvzY/GphYI
emGTC6vgoKHphb/SvE+cuTnz/zNzw97+7kQzN6w0R3Ge4iQfh5V0vjDM6uFwIczeoKcKzUjZwmak
bJIjQCP/hkPnA95wWoh9yNyNSkZLo1Hzho4eJWPVr+z1oPKvmg42PrVfEHO2CHgqBXzILAhZL6dN
DfnXjY2DdXX4/F/dB13CBuTM2utEJdKMNEvuZVQQ2oTXX0mfIQnMPiuNDSnV6KPwol9OwYlTp04U
FBbm+PJapk+XKrLxT6OlTw/fMwmdUPR9soLaqe/YByGOI77MHR53Yml2PizaNEvubDTOPLmha0fl
lA1FookoKlhsqdogRQJ5wlbq2d4Liy3LyiSLYTJOpvFALfVs74oxJRbnmyG/zmK8P3XCWUFMA2f7
CYPOLlCItpdn/6R5Z9Yh6QkW56RApjl6f9ePTkoFJXyuNDB1TMTkynNTfxLzPanmcCQkv2FVh5D8
jlYeNoP4jlUefjEaY4nzyLRukRQ+kSzhGj6Y/A8JtdH5ZDHtJPf4kBkjqttJ4VNGrAhjbNioToQw
NnOElkq0REz6iA3XsDLS57cA6SjlAkXENVAWi6Sl86Zow3vVBZPsrnz3DTf0rS0PJlhy8jyHD+t/
iNseX1jxwdZVu9bHbY4rq+rbSuAewt1YAbhFwS+iLUQDkvnrFjcfv0biUbqIKhsbWrMR1iBYEw+/
iLMj4JY1EO6WFC7RGiwt9S0Wg3Yp7rZw7erUVHW7ySrq9CrczZzD/wr1gc9dj/914ADQrAc3ombW
BLquke5MmSCtfOTS3BE/dmmGSPEbQWgevAMOFCBp9imUIr42J+jOjrdbnBVWV6EjVdsWk+qxmBvp
dWtwB65mVRSLCQOONRO3tRZdktRj5jqgkSs8DjcS695Joq81Usud9sCtEKv+BewWGYER9QXEhR8d
YaGlKR4+IncUojcGF9aXCi/tTSlx58zefGjz7JyMyfZ9wkul9biqp6FiZ+bPbpFPXlFTtKrV621d
VeTpbs+45WeZOysapDlWsPHZ2E67KuP9GKmvFYQ5MDw4znk9I14fP/I9fgpsupJohzI0WuOXi2PP
RhUOFqe7KnNbZvQObsK/Qif+Ozd2IKlpClILbeiEdE9ekHkZ29Cc0H3BQfT1y/v3i5+zbNjn+Pfi
5znoReYZ/B3t78s5MgD9zO7IKfg74XV606B4LvQcQP1aXENv/CkgNxc+J91YyPz4/cqY7IMO4LPw
90l09oHsxIkv6ABZGbbr2N6Qb6Fn0W1070mju/NjSOwOQ2R0r/yR1egIxWXSKDZ8GFJjiIVOgCDS
M6FX8FPEH1oItaVbs1HN4Pbt8N+EFu0/cUKajXPD2vdgrYJWckbXhhr07u30EvKEimvIZTX7d++G
6xpREopBvw3dx974GEp67DH4LQ8O+gd6zzaNUckMtlF6vDCA9g2g/XuOij9kfxn5XoEI77jvFZjJ
dPzvvlsg+H/8nQP3/99+GUHH5b6kQJxNgadOOi8iTWlJ81ljg1niOjJtM1tcp6BTJc+MGyShMdQX
I8fovRLAGxkQUkmnJTqkERB6X8tZfIB+JwLhHa1/ycQhUMJ1DTyNzsLZQCKKkG2x6di61TPQQo+y
ZLrmqY/Qhw9nz2hb3rBu013GRfXo+q1dfZqfyyPTDVtVxq0F+p/pe7u3alOpzAfRc/gBeg8SuWte
Gl/UkGFE0uwmU2JycC3O6Y3N597IuqEhMmdmTmTDDVl4+3PP1T70kHD28SeeeBzFP0TxLmTexMqx
7wkoRG+J3xMQM9LAJrB5TDQsSqeSAy5cvePRx4Tht07cgHVCAjvpghoX74crPUwp+x76hMmAbMgH
+mGyhQY8aGRGJYgGyax0ZzlxL5HSHdHE5rJozbaSa0vnX2soaHZ71k33tDfpC5YGDYVNvLJoirvS
lunIGv5cN7mwuExndzjKVgeLVs911wd1rkp7QMUvznc3gBNUJXmNBpNeZ96a4nCkmHV6js4na9CD
rJLwWEGHhEORkThTJYZFAf9uZ3OpnrPGWVMNOueMEr3JFmdNM+hwcW2HB0fvkDm9w8/WdHpwzHZ4
S3jgYxqwAr0BOm4TJ1XpmG3U6JxtQI8u/Qx9ZdZW6jL2WNWBFKehUmfbm55SqJjgM/TyitT0rMSE
5SlpWcrf9dH3veQ95ZmPScXxIK8KGuGQb0JRccRJkW9H8fNBH9I7uhzTD5f8Sfhb5uLM1tuKUXv/
tGn9q+kT4O6HA0zC90r9b+C6fBJSWfwWP+S6R1EnuY27vx+nLF9+8MTD5J6RYlivDq23kHDK4if3
c2M1LO2ESyBF7ocM2UEvODg6q2Wj3x0TQ6MdDVUsFt2wcP58vvv117tfQw133XUUfSM8IDyMmmmu
p4ZrltJ7emhtZeL7eiKle1bG39+DUsktLBff5PNh6JYWTGH3SLCvAPkSqJfAjJduPfl/S19eJXja
rZLRahNBFIb/2U2bpgnxRkRKkLlMhS5J0yJGkba5baG1xQreuEmm6ZJNZtndNOQBfAF9EX0CfQQv
vPBlBP/dHEMiFi24y2a+k5lz/n/ODIAt9QIK86eBrrBCFZ+EHRTxVdiFVlvCBdxTb4TXUFHvhNdR
VR+Fi3ikfghvoOzsCZfIr4U38cT5JlxG1X0sXMF9t0dFVSgxepurZ6xQwwdhhz6/CLs4wHfhAnWf
Ca/hoRoKr6Om3gsX8Vx9Ft7AA6cmXCIfCG9i7PSFy6i5FeEK6u5TdGARYYYYAQa4RgqNOnrY5rjL
bjbRInW5QuMU57jAMTzyIUK+eikvySPD0XC84W+fK9Gx0SwOBteprve29W6j2dLdmT49vzj29GEY
6nwu0bFJTHxj+sw4wwQ+C8a0dkkL+9jBETlkQZxN/DS2l439nSMbMn5JnQETQqbEDM1gEvqEkzwe
0lOHNM59WbRXimsprxfl24s948SPh7rjj01i23NRTVWdqbazXeAvpfBbEvAqb0zChlka0pTxKNTg
hImTwI5102s17rj9VQ9Bfgg+v+wfnwkGo0UjLK5WDvGXwyDRvk5jv29G2Z7t1fx0buvhcmf+bc1d
7tif6/2HG7fk6LaLN81fj14TVp9xNIx61B9xcjr1oiSdRcbr2dHy4oji09x0ljahiSC3vJwYxdN4
mKSTfmDz9J8WZ9SEAHjabc1ncM8HAAbg50ciJBS1qqhZe/yTaCtKybJn7T1KSYpUCLW3Dnt+Ma4o
Dld7c9zZe1zt2VI1WuMcvhLkY9+79557P72yeZfXqWL8X55nNgiyyS5MuBwi5JRLpCi55fGBvPLJ
70MFFFRIYUV8pKiPFVNcCZ8oqZTSyiirnE+VV0FFlVRWRVXVVFdDSHTmd6yaPvO5L9QSp7Yv1VHX
V+qpL16CREmSNdBQI4010VQzzbXQUiutfa2Nttppr4OOOumsi6666a6HnnoF2a0w2RQLPTDVTNMs
scZvfnHNJPOCsCDcDD856FaQw1JrvfTCK8v97rij1uvtG7P1cVJfx5xw1imnnfHQt/5wznkb9PPM
HJdccFF//3rsZ6lSfGegAQb5VZrBvpduiAxDDTPcIz8YaYRRxhhtp2XGGWu8Cf7zxG6X3XHXRpv8
7Z49/nHfKlf85bobbvrTVbeDiCCnRTbbYrsdDtlqm8MmOuBH6xyxz357g1yme2qluRZbbZb5FtgV
RAZRERmDUkKhUNJ740PvTYjJMjbLuHfGxmeZkBiWnJGe9nY0SAhFZxnzBmCthJYAAAAAAAAB//8A
AnjaY2BkYGDgA2I5BhBgAsP3DIwMHxg+AlksYDEGACyqAw0AAHjaY2BkYGDgYpBj0GFgdHHzCWHg
YGABijD8/88AkmHMyUxPBIoxQHhAORYwzQHEUmCaiYGNgYfhI5D2Z/gAJH2AoowMngB3BAhIAAB4
2sWaWWxU1xnHv5mxx2OPbcC7WYzBLMbBKZCA8ZJA0yzEARK1FSTQJm5LHxoqGrUSUvKQVmocRVUF
fWgbqYp4SKukJSxVQkQWIIYmKSEIQtgczOplvON9t3r6O2fujGfssT02Aebo+t57lm/5f9s54xGb
iMRIhiwW28OPrv2huCSCHlFK9Iht689/vY0+8b4xZudul5hY5ru3mLlb5GsZtDm50mybbFtsr9r+
ZHvTVmbz2DrtTvtK+0P2p+x/te+xn7LX2fsdix0rHKsd2xyv0HY43nAcMU8nHe0RERHxEb+L+ENE
XeTcyKcj90V+EHnBmekscK52bnCWON+SQRl0ljm7oyKcBVHLolZGPR/1StSuqONR/3OluXJcq11/
cP3Z9TfXP1y7XYdcx1y9Qy3aHh0b/VD0H6PfjJGYl2LOOQtiLkXb3S53Ale265B7mXuNe5NzAzjk
qUrJ5ypQHilU3fKMqpNSdUV2qgopU01ylKtcdYLAXkmTfbIQBPJUOWs6pFRipUycMlXczEhUtZKq
aiSda4ZqkRxVLbkSJ48zcx2cNqoGqDfLJsafhVOpapV3ZD40N0A9Fgolqh3k8yRJHpcU2SgJ8gy0
N3OVquPwX8Xc9cxNYvV0qEXw1CjJ0Elh9XS0iJIE9Ruk6JJiekvVWTikszKZlcUSDZdaZnhkHhTy
mKU1LlL1cK5ldrNUo7mDnpv0dBv9IljTxppWelsZr6cvVlXBuQ2OtVD5Eiw84NfFjBOyCrxK1El5
gTk7ZRor2pA4gb96rYMnPa+btxZGnWAUDx5T1WVGvkDydslkdJ66AA5uyQfzAu6FMkWKZJZsQd/t
yFiq/gOF96WW50jkaWF1hyV3l6HtsnSthpbWU3NtZLSBtQ3MKMdueeoGsncy2s7oZUZakNllcG1A
u2a8oB8v6Dc6Nxgt8pir1xTQq9cVqwGsOiCb4e9FsResk4y/LOJppXnK5akIPRxQicMOCVgmh1XF
UNjEilJ1TPaoPmY+wMwn5BMwiIRXP7z6DP29eNA+mWGoxZonh+G9V+J5m4XUOcbq/fhZLyu6oTsg
W7nvhd8+vMCBVtfRqh4EX6fPgdVisVYCWOcbbarRQHvNUT9V7et9jPYw0uLXK4GnTJkJhUq0SYLC
USxXj+d3yHRwzVJnkKYRad6TDWoPEt1EorNIdByczsrzaF2q9ssu6L6pvpG/q09lt/oYX40FhWY4
PAaHjXIAKx8hDj/Bxz5TBwzvJEayJNXiPdV4TTI8teek67iQRPg3wb8N/pfh3QNffBL0S9Vn8OyG
p8fExR7suFfuh+IWeNQT6/3iQbt4g02Cumi0yQHPYihsAl8dUbtAxCtpL6uXGEk/gbsHi8WxshN5
XMTvFFbWWBZpRn8PFDrQvc1Y5UVWeJF8nPmJ+EUy0ZuqrqKFB75p5JCbMpNZWeor/LAPvk1I3gha
F0DrFDJkIEMDVHKg8gv5N/IeUOdBrA95Thu05jCyBLraN3LxmXXYTevxDt60V7IZLUSGRDgmgbMX
wzp85ArcO+HexUoPK2Pxg6P4wRf4/UUyWgOUktCrBr3KDb7l6pyJqI9kJbjkg3wBshZhwQewgI24
soFPDmjk0ZcPJx1BReqSkTMFSeaTDxysicW6cSCQABZ54JAvC8gB6Ug6kxjKIQvGYk0XtjgD1RR0
WQ6FNcaKeDRSxGFBrW0esucbLi3IO5P+WPw7B3ny1GHk7Gb0BnI0W5mrA2sNmmgrIVK2oofH5Kzt
vPlkdEsu+K7gylPvQkNH6DmrelRC50P01THUhWwOdF7HilivXv7Yv8jai8y/ZCR7ABolxrdOsiZJ
jrJCI3kK6gNQr4V6m5WpTzKiK0UefpjPaBE0S5B7J94WA5c6RputuCg3swqRrMjkqT6Ly2WDQzUz
Go1VvVwaTQYvNDY7jUx9stpUpBqT0Txg5jR0cyzuuhoUM6LrREQQJ81B567jFjpNVm04h6e5GU9E
ylTmpFMhtJflqGtYKws7u0HrHryqAxt04VUesoWuk59j4xQssBwLrJGDyKh9ZgpvGSAcyxw7/Mrg
1cp7KmjpDN5EZdRVsVqexH42U6njLH/OYP5u5p9Btgokr8Cna+E+H+51cK+Eey3cq+B+Feq+OmD3
R6LGsBIMb8ClS+Zy5WFLn19riqvp22xQvwqVCjCkSrGqTuLALYGZ80A+l9krTFR4LLzqodAChVZT
k7QlNpoa0A61ZqjVQalDVz2knYunryI2VmP9EjBKRXMnY8m8JyNjETMWMyOBGfPlEbzrCfLjWsbW
cV/P9STXcyailslWLLCNscPMv4ity5l/iXsFdw90MqCeBvWFeLH2t4Ws2wCX9XB5EC7FcCmEywJy
mhNO8+G00KC6nutJruegUYINt1JbtjH2Itx2GY7z4DgXjgvgOBeOC+C4Vlqh08aVAm7XLdwaQLsV
7HoCsDttefE3YFdvReIJsGsnqluxhPaoHvDTe5MKrNFJxNhNdNtM1daVuR1N5iF5LPl8GjuvOey8
MuVHMlteIoNWcbUy1salvS8V71sAFg6ydAIZOstkYp1RHzTj3qdIk9lTkV3vCqdDdway+LyzjX1b
Fx5aZVaksyKbp9nkDQe77EiaDaTj6ZtKc+lMzXsymcxNvCzgLVuWIsl9tDlExyqQe5jamYsWxYys
BfP75Pvok4c+JewtfkZ7RF6gPSrbaY+h20vY42V5hTVvYIunZI/slx/IQdpG7HJYniYjHWX957RN
WKkcXC5hoR+DSTUWraX9BGza5KdizzymTwizpmdcRZpCThVtqlJV4LN3+ENuFcP9NfW16ubepNpV
Pbus28v1GlaaGvDejtfdfl171H/x6OG97eh9WLEXVjWqk+de/lbic98Oz9e4PiK3hho7os4Qgfqp
l1ZlnmpAv4e3HrVT7bhFhAPf68P3LdU6ee3J4aH7TxDPt8eqXxuErwX0NJGvxlvloY74nm9OkvM3
csc/eOahQG/CX6q99vX3VA2N+XWt8d1VrWrgXudtYXO9bN13+D2EeOWUcHt1vUhm1/ff+/VoVFXq
SJiru0bEeXge6Arp/Yn+p8jboCnWU2UhchOSYO+reLTHqw+5qS5YMyrkrXC+fDcqjvqUfFTp7+nz
ZX91TF2y/LlbdQT4dDutS10JJS2ZcgBUrpG/r/F0Cnw82PAcntIdNK8PDAfGkW1g4iMT1L57pJWH
zegcsu9wroyF5cPU8asWt5qA3lquZsZ6yQM+xDvDlNufc9ijee+9467pG6+qI9+oM3QNnFBuOj9+
9WIPPByn9kA9dPWfgCX75S5/8PdbkmFyq+E6cEe06w+M4FC6ct4bZpPR631YHN/WFzvhyuDKwZlG
1C71IecXbxS2612H34fa6Hlbrx1BD58kL71Ntjtvst6/1D+5v0VPW5BuHf59YICcnN9N1SKO6n26
j67haPoGZoDhe0TOz/r+5cT9YzjyE612QVmi9w74Up9uoTOe7tea4m8D4eoVXgToc5Q6q3f61vt7
6l11aPhu27qf8nub935wKKd5raQOj8nrxPCdD5XRY8VRf7j7BB1lgbrp5yFMxtLae5Lkfsa6X6AG
Xw32FN96nw181Uxdxxcbg04r1WNK2TG8LvkiVu/rR9PUH0OWRNTCm4HeQKy1TMCjAiO1mX113di5
SFffoT3LaCP+z7QQHD81MlZw2vnIvB8iI5Wp/YHnF/KKhzmtVv2/4sflhPrMm72s99Ochcs4I7rE
yW7pK30ax1/aJNWrGXvO5lEjqTdEph4Iqtx9Y5zB9eq4cb2pyVvXQ2ITcn//bXw/EG5NDL9ustPq
pQI0BuxPGoKzkP7uQ33sxTQwM1JT+tUBVU4s3LDydC9nt8GASO31R/rwfeIVaDZpC/q51gzlmtDS
w61v8nrjcf1oGWe91Y0SA/rU+EHofR218aKucxYSPeFmW60ZNTIQ4brhvP17xOtDOxhfnp14plc3
JrcyHIT9cwdHfk81kR1aUEbvG2/XMMa+KezvRnR2Ctl/iNzePNyi48eROa10aP7+ynJzROT0+mQf
/RsfjSRnx/pga/g0HnEiqCBymrUH+bKlVUNbgnd1QRV7kBZmNgqxh51Izekffw8Y/t6cyInyUvNX
iRAnJ3V6lNVfgml76LPAmPHaMKJ2d4+2Q/R9l4X9usI+qfaOsGnnZG1zV850jeN/V+v33pG5qWoi
e3BVp6qtOnuLCJNjWiV+wroO4j+TruPm27HWEd92dofaJ4yXPX17mkDNNCaT/fbHu0Md9/uPwZHZ
HnS7J++P8A36/pKdQMVoOcOXeXw7WfPtsCdUpI7Ds+4uR8yJu8K1+67q3DqRujHZ3TIVbmrQ+5nA
M8TwvDUsq+N5Qd5UHRZL/euXa+Y3lfoTz1O+iPltZYQ4uIa+fS8wfwu5ijjDOANoTEHqaea/wEmS
LCnm//1pkm6epssMrpkySzJktmTKHJkrWTJPHtC10PoskIWSzX2R5Mg9kmv6FnPl0u5lbKl8R5bw
vlSWyX1yvyyXFfKgf7VrhE6xY+hr7ZjNLwWGWiLyJ1otxWoJRnpfE67ZVsuS+ZKH1ENtEfIvsprv
s9JI72vCtdRqy9FpOT3pov/PsQhslhhMVowqtf7Pe4y4sYf3b6CucdjMIS3GUj475punewyKTjg4
DdrpAXhNt2Rcaa3IBRE7Uszk0m2G+VtgvXn79RUPWrMsezvMf2nuBQvvJxMd3EbCJCw5H1yEv9q2
2fRlM5KN/ZPxgBQsmmp+taE/S0JovAKctB2Xh8RD+4HvYw9ocX75g9tMfxPji97mMJbMDGpuf/PZ
1m2k9zXhmmu1CPSNYEYWOurfPsSjncYkbVQ7av/QceC0/no/TmNHr0b3h1iVZH7fmGZ+eaE91411
42gR2CKBvlRatPHSGOTIYHyerEKah+VR7LBGnsC662lL5SnZAHZPy7N4iP7NxWr5Je275tcWD8nL
8hf5nrwuu2Wz7Jf35VdyUI7IdimjvSzH5Lj8Vs7LZXlVKqVKdvwfq1f8awAAAAAAAAEAAAAAxmW3
ygAAAADNdc/sAAAAANNXdnY=) format('woff'), url('QuatroW05-Bold.ttf')  format('truetype'), url('QuatroW05-Bold.svg#QuatroW05-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


