/* MY CSS GRID */
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
.container {
	max-width: 910px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
}
.my_container {
	//max-width: 1200px;
	//margin-right: auto;
	//margin-left: auto;
}
.row {
	margin-left: -10px;
	margin-right: -10px;
}
.row:after {
	display: block;
	height: 0;
	content: ".";
	visibility: hidden;
	clear: both;
}
.col_1 {width: 8.333333333333333%}
.col_1-5 {width: 20%}
.col_2 {width: 16.66666666666667%;}
.col_3 {width: 25%;}
.col_4 {width: 33.33333333333333%;}
.col_5 {width: 41.66666666666667%;}
.col_6 {width: 50%;}
.col_7 {width: 58.33333333333333%;}
.col_8 {width: 66.66666666666667%;}
.col_9 {width: 75%;}
.col_10 {width: 83.33333333333333%;}
.col_11 {width: 91.66666666666666%;}
.col_12 {width: 100%;}
[class*=col_] {
	min-height: 1px;
	float: left;
	box-sizing: border-box;
	position: relative;
	padding: 0px 0px;
}
@media only screen and (min-width : 721px) {
	.container {
		width: 720px;
	}
}
@media only screen and (min-width : 768px) {
	.container {
		width: 768px;
	}
}
@media only screen and (min-width : 992px) {
	.container {
		width: 970px;
	}
}
@media only screen and (min-width : 1201px) {
	.container {
		width: 1200px;
	}
}