.wrapper__slider-news {
	width: 100%;
	max-width: 833px;
}
.heading-blog__small {
	font-family: "QuatroW05-Bold", sans-serif;
	font-size: 28px;
	line-height: 24px;
	color: #42515A;
	margin-bottom: 22px;
}
.slide-itens__events {
	position: relative;
	display: block;
	height: 264px;
	overflow: hidden;
}
.slide-itens__events:before {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: "";
	background: -moz-linear-gradient(180deg, rgba(19, 19, 19, 0) 36.05%, #0B0B0B 94.47%);
	background: -webkit-linear-gradient(180deg, rgba(19, 19, 19, 0) 36.05%, #0B0B0B 94.47%);
	background: linear-gradient(180deg, rgba(19, 19, 19, 0) 36.05%, #0B0B0B 94.47%);
}
.slide-itens__events .slide-itens__text {
	position: absolute;
	padding: 20px 24px 22px;
}
.slide-itens__events img {
	width: 100%;
	height: auto;
}
.slide-itens__text {
	width: 100%;
	position: absolute;
	bottom: 0;
}
.slide-itens__text h3 {
	font-family: "QuatroW05-Bold", sans-serif;
	line-height: 26px;
	font-size: 20px;
	color: #FFFFFF;
	margin-bottom: 15px;
}
.date-event {
	font-family: "ProximaNova-bold", sans-serif;
	line-height: normal;
	font-size: 14px;
	color: #EE3662;
}
.slider-news {
	margin-bottom: 30px;
}
.slider-news .owl-nav {
	position: absolute;
	top: -48px;
	right: 0;
}
.slider-news .owl-nav .owl-prev {
	margin-right: 22px;
	-webkit-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.news-post {
	width: 100%;
	max-width: 833px;
}
.news-post__items {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	background: #f6f6f6;
	margin-bottom: 28px;
}
.news-post--img {
	position: relative;
	width: 357px;
	min-width: 357px;
	height: 224px;
	display: block;
	overflow: hidden;
}
.news-post--img img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: auto;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.news-post--text {
	padding: 32px 32px 50px;
	position: relative;
}
.news-post--text .tag-wrapper {
	position: absolute;
	bottom: 32px;
}
.news-post--text h4 {
	margin-bottom: 12px;
}
.news-post--text h4 a {
	font-family: "QuatroW05-Bold", sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: #42515A;
	-webkit-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
}
.news-post__items:hover .news-post--text h4 a {
	color: #1075C6;
}
.news-post__items p {
	color: #42515A;
	font-family: "ProximaNova-Regular", sans-serif;
	font-size: 15px;
	line-height: 22px;
}