.header-banner
    .header-banner__background
        .container.header-banner__container
            .background-dot
            .background-gradient
        .container.header-banner__background-buttom
            .background-dot--black
    .container.header-banner__container
        .row
            .col-md-6.col-sm-12.header-banner__content
                h1.header-banner__title Effective, affordable mental care within minutes
                p.header-banner__desc Get matched to a therapist and instantly connect with Canadian counselors for your mental care from your phone, tablet or computer - any time, 24/7.
                .header-banner__button
                    a(href="#").button.button__yellow
                        img(src="src/blocks/button/assets/img/button-img-1.svg" alt="Individual").button__yellow--icon-left
                        | Individual
                    a(href="#").button.button__yellow
                        img(src="src/blocks/button/assets/img/button-img-2.svg" alt="Couples").button__yellow--icon-left
                        | Couples
                    a(href="#").button.button__yellow
                        img(src="src/blocks/button/assets/img/button-img-3.svg" alt="Teen").button__yellow--icon-left
                        | Teen
            .col-md-6.col-sm-12.header-banner__image-wrapper.header-banner__image-wrapper--main
                img(src="src/blocks/header-banner/assets/img/header-banner-1.png" alt="Banner image top").header-banner__image.header-banner__image--offset