*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "GothamPro", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

.hidden {
	display: none;
}

button{
	cursor: pointer;
}

/* CLEARFIX =====================
==============================================*/

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* NAV =====================
==============================================*/

nav {
	margin: 30px 0 0;
	padding: 0 0px;
	position: relative;
	z-index: 10;
}

.nav li {
	display: inline-block;
	margin-right: 52px;
}

.nav li:last-child {
	margin-right: 0;
}

.nav li a,
#touch-menu {
	display: block;
	padding: 0px 0 4px;
	font: 12px/normal "GothamPro-Medium";
	color: #fff;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.nav li a:hover{
	color: rgba(255,255,255,0.5);
}

.nav li a:before{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-image: url(../img/border.png);
	position: absolute;
	left: 0;
	bottom: 0;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.nav li:hover a:before,
.nav li a.active:before{
	opacity: 1;
}

.nav li:last-child a{
	padding-right: 0;
}

#touch-menu {
	display: none;
}

/* HEADER =========================
==============================================*/

.header{
	background: url(../img/bg_header.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	//-webkit-background-size: cover;
	//background-size: cover;
	color: #fff;
	padding-top: 28px;
}

.logo a {
	margin-top: 11px;
	display: inline-block;
}

.phone p{
	position: relative;
	padding-left: 32px;
	font: 20px/normal "GothamPro-Medium";
}

.phone p:before{
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 2px;
	background-image: url(../img/icon_phone.png);
}

.phone p span {
	font: 14px/normal "GothamPro-Italic";
	position: relative;
	top: -3px;
	color: rgba(255,255,255,0.5);
}

.span9.phone_nav {
	padding: 20px 0 0 50px;
}

.zakaz{
	text-align: right;
}

.zakaz a {
	font: 16px/normal "GothamPro-Bold";
	color: #fff;
	width: 124px;
	height: 92px;
	background-image: url(../img/icon_photo.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	padding-top: 35px;
}

.to_present{
	text-align: center;
}

.to_present h1 {
	font: 44px/normal "GothamPro-Black";
	text-align: center;
	margin: 82px 0 10px;
	display: block;
}

.to_present p {
	font: 21px/normal "GothamPro";
	text-align: center;
	line-height: 28px;
	margin-top: 30px;
}

a.video_present_icon {
	width: 100px;
	height: 100px;
	display: block;
	margin: 67px auto 34px;
	border-radius: 50%;
	position: relative;
	left: 6px;
}

a.video_present{
	font: 13px/normal "GothamPro-Bold";
	color: #fff;
	position: relative;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

a.video_present:hover{
	color: rgba(255,255,255,0.5);
}

a.video_present:before{
	content: "";
	background-image: url(../img/border.png);
	bottom: -1px;
	left: 0;
	display: block;
	width: 100%;
	height: 1px;
	position: absolute;
}

a.scroll_icon {
	width: 22px;
	height: 32px;
	display: block;
	margin: 106px auto 56px;
	border: 2px solid rgba(255,255,255,0.5);
	border-radius: 18px;
	position: relative;
}

a.scroll_icon:before{
	content: "";
	display: block;
	position: absolute;
	width: 4px;
	height: 8px;
	border-radius: 5px;
	background: rgba(255,255,255,0.5);
	left: 50%;
	margin-left: -2px;
}

a.scroll_icon:after{
	content: "";
	position: absolute;
	width: 14px;
	height: 15px;
	left: 50%;
	margin-left: -7px;
	background-image: url(../img/arrow_bottom.png);
	top: 42px;
}

/* ARROW *****************
**************************************/

.arrow {
	width: 40px;
	height: 40px;
	top: 50%;
	margin: 20px 0 0 -20px;
	border-left: none;
	border-top: none;
	border-right: 2px #fff solid;
	border-bottom: 2px #fff solid;
}

.arrow:before {
	content: "";
	width: 20px;
	height: 20px;
	top: 50%;
	margin: -10px 0 0 0;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-name: arrow;
}

@-webkit-keyframes arrow {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(0, 15px);
	}
}

@-moz-keyframes arrow {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(0, 15px);
	}
}

@-o-keyframes arrow {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(0, 15px);
	}
}

@keyframes arrow {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(0, 15px);
	}
}

/* MAIN STYLE =====================
==============================================*/

/* ADVANTAGES =====================
===========================================*/

h2{
	font: 36px/normal "GothamPro-Medium";
	text-align: center;
}

.advantages h2 {
	color: #060606;
	margin-bottom: 128px;
}

.advantages .span3{
	text-align: center;
}

span.icon_one{
	width: 140px;
	height: 150px;
	display: inline-block;
	background-image: url(../img/advantages.jpg);
}

span.icon_two{
	width: 140px;
	height: 150px;
	display: inline-block;
	background-image: url(../img/advantages.jpg);
	background-position: -152px 0;
}

span.icon_there {
	width: 138px;
	height: 150px;
	display: inline-block;
	background-image: url(../img/advantages.jpg);
	background-position: -307px 0;
}

span.icon_four {
	width: 138px;
	height: 150px;
	display: inline-block;
	background-image: url(../img/advantages.jpg);
	background-position: -460px 0;
}

.advantages {
	padding: 68px 0 0;
}

.advantages .span3 p{
	font: 14px/normal "GothamPro-Bold";
	color: #060606;
	line-height: 24px;
	margin-top: 24px;
}

.foot_advantages p{
	font: 23px/normal "GothamPro";
	color: #060606;
	text-align: center;
	margin-top: 124px;
}

.foot_advantages a.scroll_icon{
	border: 2px solid #7f7f7f;
	margin: 28px auto 56px;
}

.foot_advantages a.scroll_icon:before{
	background: #7f7f7f;
}

.foot_advantages a.scroll_icon:after {
	content: "";
	position: absolute;
	width: 14px;
	height: 15px;
	left: 50%;
	margin-left: -7px;
	background-image: url(../img/arrow_bottom.png);
	background-position: -14px 0;
	top: 42px;
}

/* PORTFOLIO ===================
======================================*/

.portfolio{
	background: #040a10;
	padding: 56px 0 60px;
}

.container_video {
	position: relative;
	padding: 65px 0 0;
}

.container_video [class*=angles]{
	width: 76px;
	height: 76px;
	position: absolute;
}

.angles_top_center{
	background-image: url(../img/angles.png);
	background-position: center -78px;
	left: 50%;
	margin-left: -122.5px;
	top: 0;
	width: 245px !important;
	height: 30px !important;
}

.angles_top_left{
	background-image: url(../img/angles.png);
	left: 0;
	top: 0;
}

.angles_top_right{
	background-image: url(../img/angles.png);
	background-position: -171px 0;
	right: 0;
	top: 0;
}

.angles_bottom_right{
	background-image: url(../img/angles.png);
	background-position: -171px bottom;
	right: 0;
	bottom: 0;
}

.angles_bottom_left{
	background-image: url(../img/angles.png);
	background-position: 0 bottom;
	left: 0;
	bottom: 0;
}

.container_video h2 {
	color: #fff;
	margin-bottom: 63px;
}

.container_video p{
	font: 16px/normal "GothamPro-Medium";
	color: #fff;
	margin-top: 22px;
}

.item_video{
	width: 50%;
	max-width: 450px;
	float: left;
	margin-right: 40px;
	margin-bottom: 58px;
}

.item_video:nth-child(2n+2){
	margin-right: 0;
}

.item_video a{
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-block;
}

.item_video a:before{
	content: "";
	display: block;
	width: 78px;
	height: 78px;
	position: absolute;
	background-image: url(../img/play.png);
	left: 50%;
	top: 50%;
	margin-left: -39px;
	margin-top: -39px;
}

a.popup.popup_video {
	font: 16px/normal "GothamPro-Medium";
	text-decoration: none;
	border: 3px solid #ff3d3d;
	display: block;
	max-width: 266px;
	margin: 5px auto 0;
	line-height: 55px;
	text-align: center;
	border-radius: 30px;
	color: #fff;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

a.popup.popup_video:hover{
	background: #ff3d3d;
}

/* NEW_CANAL ===================
======================================*/

.new_canal {
	background: #208adb;
	color: #fff;
	padding: 72px 0 52px;
}

.new_canal p{
	font: 18px/normal "GothamPro-Medium";
	text-align: center;
	line-height: 27px;
	margin-top: 18px;
}

.new_canal .row {
	padding: 60px 0 0;
}

.new_canal [class*=icon_canal]{
	width: 131px;
	height: 131px;
	display: block;
	margin: 0 auto;
	border: 1px solid rgba(255,255,255,0.3);
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: relative;
}

.new_canal .span2 p,
.new_canal .span3 p {
	font: 12px/normal "GothamPro-Medium";
	color: #fff;
	line-height: 20px;
	margin-top: 25px;
}

.new_canal [class*=icon_canal]:before{
	content: "";
	background-image: url(../img/kanal.png);
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
}

.icon_canal_one:before{
	width: 60px;
	height: 60px;
	margin-left: -30px;
	margin-top: -30px;
}

.icon_canal_two:before {
	width: 64px;
	height: 62px;
	margin-left: -30px;
	margin-top: -28px;
	background-position: -64px 0;
}

.icon_canal_there:before {
	width: 64px;
	height: 60px;
	margin-left: -30px;
	margin-top: -26px;
	background-position: -133px 4px;
}

.icon_canal_four:before {
	width: 64px;
	height: 60px;
	margin-left: -34px;
	margin-top: -30px;
	background-position: -202px 1px;
}

.icon_canal_five:before {
	width: 22px;
	height: 60px;
	margin-left: -11px;
	margin-top: -30px;
	background-position: -271px 7px;
}

.icon_canal_six:before {
	width: 44px;
	height: 60px;
	margin-left: -22px;
	margin-top: -30px;
	background-position: -297px 5px;
}

.icon_canal_seven:before {
	width: 66px;
	height: 50px;
	margin-left: -33px;
	margin-top: -25px;
	background-position: 0px -65px;
}

.icon_canal_eight:before {
	width: 64px;
	height: 62px;
	margin-left: -33px;
	margin-top: -31px;
	background-position: -71px -66px;
}

.icon_canal_nine:before {
	width: 64px;
	height: 58px;
	margin-left: -33px;
	margin-top: -24px;
	background-position: -140px -66px;
}

.icon_canal_ten:before {
	width: 68px;
	height: 48px;
	margin-left: -34px;
	margin-top: -20px;
	background-position: -210px -66px;
}

a.canal_popup,
a.work_popup {
	font: 16px/normal "GothamPro-Medium";
	text-decoration: none;
	background: #fff;
	display: block;
	max-width: 266px;
	margin: 46px auto 0;
	line-height: 55px;
	text-align: center;
	border-radius: 30px;
	border: 3px solid transparent;
	color: #060606;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

a.canal_popup:hover {
	background: transparent;
	color: #fff;
	border: 3px solid #fff;
}

a.work_popup{
	background: #ff3d3d;
	color: #fff;
	border: 3px solid transparent;
}

a.work_popup:hover,
button.popup_click:hover {
	background: transparent;
	border: 3px solid #ff3d3d;
	color: #060606;
}

/* WORK ===================
======================================*/

.work {
	background-image: url(../img/bg_work.jpg);
	background-position: center 0;
	background-repeat: no-repeat;
	padding: 64px 0 45px;
}

.item_work span {
	font: 39px/normal "Superclarendon-Regular";
	color: #ff3d3d;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 36px;
	font-weight: 400px;
}

.item_work h3{
	font: 13px/normal "GothamPro-Bold";
	color: #060606;
	margin-bottom: 9px;
}

.item_work p{
	font: 12px/normal "GothamPro-Medium";
	color: #060606;
	line-height: 21px;
	letter-spacing: -.5px;
}

.row.work_top {
	margin-top: 64px;
}

.row.work_bottom {
	margin-top: 130px;
}

.span4.item_work {
	padding-left: 38px !important;
	position: relative;
}

.work_foot p{
	font: 18px/normal "GothamPro-Medium";
	color: #060606;
	text-align: center;
}

span.work_phone {
	font-size: 23px;
	position: relative;
	margin-top: 8px;
	display: inline-block;
	padding-left: 32px;
}

span.work_phone:before{
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url(../img/icon_phone.png);
	background-repeat: no-repeat;
	background-position: -24px 0;
	position: absolute;
	left: 0;
	top: 1px;
}

.work_foot {
	margin: 74px 0 0;
}

.item_work:first-child {
	width: 27%;
}

p.slog_work{
	font: 23px/normal "GothamPro";
	line-height: 39px;
	margin-top: 34px;
}

/* COMMENT ===================
======================================*/

.comment{
	background: #f1f6f9;
	padding: 66px 0 10px;
}

.comment h2 {
	margin-bottom: 76px;
}

.item_comment {
	padding: 20px;
	background: #fff;
	margin-bottom: 20px;
	border-radius: 10px;
}

.item_comment img {
	border-radius: 8px;
	max-width: 140px;
}

.item_comment h4{
	font: 18px/normal "GothamPro-Medium";
	color: #208adb;
}

.item_comment h4 span{
	font: 18px/normal "GothamPro";
	color: #060606;
	float: right;
}

.item_comment p{
	font: 13px/normal "GothamPro-Medium";
	color: #060606;
	line-height: 23px;
	margin-top: 22px;
	padding-right: 20px
}
div#map-canvas {
	height: 645px;
}

.item_comment .span10{
	padding-left: 20px;
}

/* FOTTER ===================
======================================*/

footer{
	position: relative;
	height: 480px;
}

.map_footer{
	position: absolute;
	width: 100%;
	height: 100%;
}

.block_contact {
	max-width: 532px;
	width: 100%;
	margin: 84px auto 0;
	background: rgba(255,255,255,0.9);
	padding: 33px 40px 42px;
	position: relative;
}

.block_contact:hover button{
	opacity: 1;
}

.block_contact button{
	background: transparent;
	border: 0;
	font: 26px/normal "GothamPro";
	position: absolute;
	right: 15px;
	top: 10px;
	opacity: 0;
	-webkit-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out;
}

.block_contact h3{
	font: 24px/normal "GothamPro";
	color: #060606;
	margin-bottom: 34px;
}

.block_contact a.work_popup{
	margin-top: 38px !important;
}

.foot_phone span,
p.adress {
	font: 18px/normal "GothamPro";
	color: #060606;
	padding-left: 29px;
	position: relative;
	margin: 38px 0 0;
}

p.adress:before{
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../img/icon_phone.png);
	background-repeat: no-repeat;
	background-position: -95px 0;
}

.foot_phone span:before{
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../img/icon_phone.png);
	background-repeat: no-repeat;
	background-position: -52px 0;
}

.foot_phone>a{
	font: 18px/normal "GothamPro";
	color: #0071c8;
	text-decoration: none;
	border-bottom: 1px solid #0071c8;
	position: relative;
	margin-left: 60px;
}

.foot_phone>a:before{
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: -27px;
	top: 0;
	background-image: url(../img/icon_phone.png);
	background-repeat: no-repeat;
	background-position: -75px 0;
}

.show_contact {
	font: 16px/normal "GothamPro-Medium";
	text-decoration: none;
	background: #fff;
	display: block;
	max-width: 260px;
	width: 100%;
	line-height: 40px;
	text-align: center;
	border-radius: 30px;
	color: #000000;
	border: 3px solid #ff3d3d;
	position: absolute;
	right: 50px;
	top: 30px;
	display: none;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.show_contact:hover{
	color: #fff;
	background: #ff3d3d;
}

div#go_popup input {
	border: 1px solid #060606;
	padding: 10px;
	font: 18px/normal "GothamPro";
	color: #060606;
	max-width: 266px;
	width: 100%;
	margin: 20px auto 0;
	display: block;
}

div#go_popup input::-webkit-input-placeholder {
	font: 18px/normal "GothamPro";
	color: #060606;
}

div#go_popup input::-moz-input-placeholder {
	font: 18px/normal "GothamPro";
	color: #060606;
}

div#go_popup input::-o-input-placeholder {
	font: 18px/normal "GothamPro";
	color: #060606;
}

div#go_popup input::-o-input-placeholder {
	font: 18px/normal "GothamPro";
	color: #060606;
}

/* POPUP ======================
=========================================*/

div#go_popup {
	background: #fff;
	padding: 20px;
	max-width: 400px;
	margin: 0 auto;
	position: relative;
}

button.popup_click {
	font: 16px/normal "GothamPro-Medium";
	text-decoration: none;
	display: block;
	max-width: 266px;
	width: 100%;
	border: 3px solid transparent;
	margin: 25px auto 14px;
	line-height: 55px;
	text-align: center;
	border-radius: 30px;
	background: #ff3d3d;
	color: #fff;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

/* СКРЫВАЕМ НАВИГАЦИЮ ГУГЛ ======================
=========================================*/

button.toggle_mnu.hid {
	right: 20px;
	top: 20px;
}

button.toggle_mnu.sticky{
	position: fixed;
	top: 10px;
	right: 10px;
}

.toggle_mnu {
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: 100;
	right: 168px;
	top: 46px;
	background: rgba(6,6,6,0.5);
	border: 1px solid #CBCAC8;
	-webkit-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
	display: none;
}
.toggle_mnu span {
	display: block; 
}

.sandwich {
	width: 28px;
	height: 28px;
	position: absolute;
	top: 8px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 200; 
}

.sw-topper {
	position: relative;
	top: 0;
	width: 28px;
	height: 3px;
	background: #CBCAC8;
	border: none;
	border-radius: 4px 4px 4px 4px;
	-webkit-transition: -webkit-transform 0.5s, top 0.2s;
	transition: transform 0.5s, top 0.2s;
	display: block; 
}


.sw-bottom {
	position: relative;
	width: 28px;
	height: 3px;
	top: 6.6px;
	background: #CBCAC8;
	border: none;
	border-radius: 4px 4px 4px 4px;
	-webkit-transition: -webkit-transform 0.5s, top 0.2s;
	transition: transform 0.5s, top 0.2s;
	-webkit-transition-delay: 0.2s, 0s;
	transition-delay: 0.2s, 0s; 
}

.sw-footer {
	position: relative;
	width: 28px;
	height: 3px;
	top: 13.5px;
	background: #CBCAC8;
	border: none;
	border-radius: 4px 4px 4px 4px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s; 
}

.sandwich.active .sw-topper {
	top: 9px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg); 
}
.sandwich.active .sw-bottom {
	top: 6px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg); 
}
.sandwich.active .sw-footer {
	opacity: 0;
	top: 0;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg); 
}

.top_mnu {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 50;
	right: 0;
	top: 0;
	display: none; 
	margin: 0;
}
.top_mnu ul,
.top_mnu li {
	list-style-type: none;
	padding: 0;
	margin: 0; 
}
.top_mnu ul {
	margin-top: 80px;
	text-align: center;
	-webkit-animation-duration: 0.01s;
	animation-duration: 0.01s; 
}
.top_mnu ul li:nth-child(1) a {
	-webkit-animation-delay: 0;
	animation-delay: 0; 
}
.top_mnu ul li:nth-child(2) a {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s; 
}
.top_mnu ul li:nth-child(3) a {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s; 
}
.top_mnu ul li:nth-child(4) a {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s; 
}
.top_mnu ul li:nth-child(5) a {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s; 
}
.top_mnu ul a {
	color: #fff;
	display: block;
	text-transform: uppercase;
	font-size: 12px;
	opacity: 0;
	position: relative;
	height: 40px;
	outline: none;
	text-decoration: none;
}
.top_mnu ul a span {
	display: block;
	position: relative;
	top: -40px;
	left: 0;
	height: 100%;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease; 
}
.top_mnu ul a span:hover {
	background-color: rgba(255, 255, 255, 0.08); 
}

/* ANIMATION ======================
=========================================*/

.s{
	-webkit-animation-duration: 1.3s;
	-o-animation-duration: 1.3s;
	animation-duration: 1.3s;
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

/* PRELOADER ==============
==================================*/

#loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.circular {
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
	height: 50px;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-webkit-transform: translate(-50%, -50%) rotate(360deg);
	transform: translate(-50%, -50%) rotate(360deg);
	width: 50px;
	z-index: 4;
}

.path {
	stroke-dasharray: 1, 500;
	stroke-dashoffset: 0;
	-webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
	stroke: #fc3f39;
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes rotate {
	0% {
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
@-webkit-keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124;
	}
}
@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124;
	}
}

/*=================================*/

form input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
form input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
form input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
form input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
form input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
form input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
form input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
form input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}


/*VIDEO*/

.html5-video-player .video-click-tracking, .html5-video-player .video-stream {
	display: block;
	width: 100% !important;
	height: auto !important;
	position: absolute;
	left: 0 !important;
}