.list-projects
    .layout
        ul.list-projects__menu
            +item('Home', 'home.html')
            +item('Cupcakes', 'cupcakes.html')
            +item('Bespoke', 'bespoke.html')
            +item('Product v1', 'product.html')
            +item('Product v2', 'product-version2.html')
            +item('Product v3', 'product-version3.html')
            +item('Product v4', 'product-version4.html')
            +item('Contact', 'contact.html')
            +item('Allergens', 'allergens.html')
            +item('Basket', 'basket.html')