.partner.partner--default-offset
    .partner__line(style="background-image: url(src/blocks/partner/assets/img/line.svg)")
    .container.partner__wrapper
        .row
            .partner__head
                .partner__heading
                    p.sub-title Subtitle
                    h3.section-title Partners
                .partner-slider__navigate
            .partner-slider
                .partner-slider__item
                    img(src="src/blocks/partner/assets/img/partner1.png" alt="Partners")
                .partner-slider__item
                    img(src="src/blocks/partner/assets/img/partner1.png" alt="Partners")
                .partner-slider__item
                    img(src="src/blocks/partner/assets/img/partner1.png" alt="Partners")
                .partner-slider__item
                    img(src="src/blocks/partner/assets/img/partner1.png" alt="Partners")
                .partner-slider__item
                    img(src="src/blocks/partner/assets/img/partner1.png" alt="Partners")
                .partner-slider__item
                    img(src="src/blocks/partner/assets/img/partner1.png" alt="Partners")
                .partner-slider__item
                    img(src="src/blocks/partner/assets/img/partner1.png" alt="Partners")
                .partner-slider__item
                    img(src="src/blocks/partner/assets/img/partner1.png" alt="Partners")
