
@font-face {
  font-family: 'TitlingGothicFBWide-Bold';
  src: url('TitlingGothicFBWide-Bold.eot?#iefix') format('embedded-opentype'),  url('TitlingGothicFBWide-Bold.otf')  format('opentype'),
	     url('TitlingGothicFBWide-Bold.woff') format('woff'), url('TitlingGothicFBWide-Bold.ttf')  format('truetype'), url('TitlingGothicFBWide-Bold.svg#TitlingGothicFBWide-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
