.testimonial
    .testimonial__author
        img(src="src/blocks/testimonial/assets/img/testimonial-author1.jpg").testimonial__author-image
    .testimonial__message
        .testimonial__rating
            include ../rating/rating