/*==========  Desktop First Method  ==========*/

@media only screen and (max-height : 665px) {
	.wrapper__do-job {
		height: 140px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1800px) {

}

@media only screen and (max-width : 1680px) {
	
}

@media only screen and (max-width : 1500px) {
	.wrapper-about__content {
		margin-left: -20px;
		margin-right: -20px;
	}
	.wrapper-about__content .col_6,
	.wrapper-about__content .col_12 {
		padding-left: 20px;
		padding-right: 20px;
	}
	.wrapper-about__content-item h3,
	.wrapper-about__content-item p {
		white-space: inherit;
	}
}

@media only screen and (max-width : 1400px){
	.home-post__wrap-text p {
		min-height: 140px;
		height: 140px;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.home-post__wrap-img {
		height: 100%;
	}
	.home-post__flex {
		min-height: 550px;
	}
}

@media only screen and (max-width : 1350px){

}

@media only screen and (max-width : 1220px) {

}

@media only screen and (max-width : 1200px) {
	.wrapper__contact-form {
		padding: 40px 40px 34px;
	}
	.wrapper__contact-text {
		padding-right: 20px;
	}
	.wrapper__contact-text p {
		white-space: inherit;
	}
	.wrapper-tagline {
		white-space: inherit;
	}
}

@media only screen and (max-width : 1140px) {
	.content__header-description {
		white-space: inherit;
	}
}

@media only screen and (max-width : 1060px) {
	.home-post__flex {
		min-height: 500px;
	}
	.home-post__small .home-post__wrap-img {
		height: 100%;
		min-height: 100%;
	}
	.h-130 {
		height: 40px;
	}
}

@media only screen and (max-width : 1024px) {
	.wrapper-about__heading {
		white-space: inherit;
	}
	.content__header-heading {
		font-size: 46px;
	}
	.home-post__wrap-text {
		padding-left: 40px;
		padding-right: 40px;
	}
	.home-post__small .home-post__wrap-text h3 {
		font-size: 28px;
		white-space: inherit;
		margin-bottom: 15px;
	}
}

@media only screen and (max-width : 1006px) {
	.home-post__wrap-img,
	.home-post__flex {
		height: 100%;
		min-height: 100%;
	}
	.home-post__wrap-text {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.home-post__wrap-text h3 {
		font-size: 28px;
	}
	.home-post__wrap-text p {
		margin-bottom: 40px;
	}
}

@media only screen and (max-width : 991px) {
	.wrap-contact__btn {
		float: left;
		width: 100%;
		margin-top: 15px;
	}
	.wrapper__contact-form {
		padding: 20px 20px 14px;
	}
	.wrapper__contact-text h1 {
		font-size: 40px;
	}
	.wrapper__contact-text p {
		margin-bottom: 20px;
	}
	.wrapper__contact-text {
		margin-top: 0;
	}
	.page__privacy-policy {
		padding-top: 160px;
	}
	.wrapper__privacy-policy {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
	}
	.content__header-heading {
		font-size: 40px;
	}
	.main-menu__list-item {
		padding: 0 10px;
	}
	.top-line,
	.wrapper-content__header,
	.footer,
	.need-help,
	.wrapper-tagline,
	.wrapper-about__gray,
	.wrapper-about,
	.wrapper__contact {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 980px) {

}

@media only screen and (max-width : 960px){

}

@media only screen and (max-width : 940px){

}

@media only screen and (max-width : 900px){
	.home-post__wrap-text h3 {
		font-size: 24px;
		margin-bottom: 20px;
	}
	.wrapper__header-video {
		margin: 40px 0 40px;
	}
}

@media only screen and (max-width : 854px) {
	.contact-page .top-line.active .wrapper-button__mobile .button-default {
		background-color: #7b5f48;
		color: #ffffff;
	}
	.page__privacy-policy {
		padding-top: 90px;
	}
	.page__privacy-policy .top-line {
		margin-bottom: 40px;
		background: none;
	}
	.page__privacy-policy .top-line .burger-menu span {
		background: #1f1d1e;
	}
	.need-help {
		padding-top: 60px;
		padding-bottom: 62px;
	}
	.need-help p {
		white-space: inherit;
	}
	.content__header-heading {
		font-size: 40px;
		margin-bottom: 16px;
	}
	.content__header-description {
		font-size: 16px;
	}
	.next-block {
		//display: none;
	}
	.content__header-description.mb-20 {
		//margin: 0;
	}
	.wrapper__do-job {
		height: 100px;
		padding-bottom: 20px;
	}
	.header {
		height: 100vh;
		min-height: 500px;
		max-height: calc(600px - 60px);
		padding-top: 40px;
		//margin-top: -60px;
	}
	.top-line.sticky {
		background: transparent;
		top: 0;
		padding-top: 20px;
		padding-bottom: 0;
	}
	.top-line.sticky .hidden-logo {
		display: none;
	}
	.top-line.sticky .sticky-hidden {
		display: block;
	}
	.wrapper-button__mobile .button-default {
		background: #7b5f48;
		color: #fff;
	}
	.wrapper-button__mobile .text-right {
		text-align: center;
	}
	.wrapper-logo,
	.wrapper-menu,
	.wrapper-menu__mobile,
	.wrapper-button__mobile {
		width: 100%;
	}
	.wrapper-logo {
		position: relative;
	}
	.main-menu__list-item {
		display: block;
		padding: 0;
		margin-bottom: 32px;
	}
	.main-menu__list-item a,
	.main-menu__list-item:hover a {
		font-size: 18px;
		color: #000;
		text-transform: uppercase;
	}
	.main-menu__list-item.active a::before {
		display: none;
	}
	.top-line {
		position: absolute;
		top: 0px;
		//background: #978a81;
		padding-top: 20px;
	}
	.top-line.active {
		background: #fff;
		min-height: 400px;
		height: 100vh;
		z-index: 1000;
	}
	.top-line.active .burger-menu span {
		position: relative;
		background: #000;
		margin-bottom: 0;
	}
	.top-line.active .burger-menu span:first-child {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 7px;
	}
	.top-line.active .burger-menu span:nth-child(2) {
		display: none;
	}
	.top-line.active .burger-menu span:last-child {
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: 5px;
	}
	.top-line.active .container {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}
	.top-line.active .wrapper-menu {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		justify-content: space-around;
		height: 100%;
		max-height: 400px;
	}
	.top-line .wrapper-menu {
		display: none;
	}
	.logo {
		margin-top: 0;
	}
	.burger-menu {
		display: inline-block;
		min-height: 16px;
	}
}

@media only screen and (max-width : 800px){
	.home-post__small .home-post__wrap-text p {
		white-space: inherit;
	}
	.home-post__small {
		max-height: 100%;
		min-height: 100%;
	}
	.home-post__small.home-post__flex:nth-child(odd) .home-post__flex-img {
		order: 1;
	}
	.home-post__small.home-post__flex:nth-child(odd) .home-post__flex-text {
		order: 2;
	}
	.home-post__small .home-post__wrap-img {
		height: 100%;
		min-height: 320px;
	}
	.home-post__wrap-text p {
		height: 100%;
	}
	.home-post__flex:nth-child(even) .home-post__flex-img {
		order: 1;
	}
	.home-post__flex:nth-child(even) .home-post__flex-text {
		order: 2;
	}
	.home-post__flex-text, .home-post__flex-img {
		width: 100%;
	}
	.home-post__flex {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.home-post__wrap-text {
		padding-left: 20px;
		padding-right: 20px;
	}
	.home-post__wrap-img {
		min-height: 320px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.wrapper-about__gray {
		padding-top: 40px;
		padding-bottom: 20px;
	}
	.wrapper-about__heading {
		white-space: inherit;
		padding: 40px 0 40px;
	}
	.wrapper-about__content-item h3,
	.wrapper-about__content-heading h3 {
		font-size: 26px;
	}
	.wrapper-about__content-item p {
		font-size: 14px;
	}
	.wrapper-about__heading span {
		font-size: 20px;
	}
}
@media only screen and (max-width : 720px) {
	.wrapper-about__content-item h3,
	.wrapper-about__content-heading h3 {
		font-size: 22px;
	}
}

@media only screen and (max-width : 640px) {
	.wrapper__contact .col_6 {
		width: 100%;
	}
	.wrapper__contact-form {
		padding: 50px 50px 44px;
		margin-bottom: 50px;
	}
	.wrap-contact__btn {
		float: right;
		width: auto;
		margin-top: 26px;
	}
}

@media only screen and (max-width : 600px) {
	.wrapper-tagline {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.wrapper-tagline h2, 
	.wrapper-tagline h3 {
		font-size: 26px;
	}
	.wrapper-tagline p,
	.home-post__wrap-text p {
		font-size: 14px;
	}
	.wrapper-tagline span {
		font-size: 18px;
	}
	.wrapper__header-video {
		margin: 20px 0 20px;
	}
	.need-help p {
		font-size: 18px;
	}
	.content__header-heading {
		margin-bottom: 8px;
	}
	.wrapper__do-job {
		height: 60px;
	}
	.content__header-heading {
		font-size: 27px;
	}
	.content__header-description {
		font-size: 14px;
	}
}

@media only screen and (max-width : 580px) {
	.menu_header-loading {
		padding: 20px 15px 20px;
	}
	.wrapper__header-loading {
		padding-bottom: 40px;
	}
}

@media only screen and (max-width : 540px) {
	.wrapper__header-loading {
		padding-bottom: 20px;
		padding-top: 0;
	}
	.menu_header-loading {
		padding: 20px;
	}
	.menu_header-loading li {
		float: none;
		display: block;
		padding: 0;
		border-right: 0;
	}
	.wrapper__contact-form {
		padding: 30px 30px 34px;
	}
	.wrap-contact__btn {
		width: 100%;
	}
	.h-130 {
		height: 0px;
	}
	.wrapper-about__content {
		margin-left: 0;
		margin-right: 0;
	}
	.wrapper-about__content .col_6, .wrapper-about__content .col_12 {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
	.home-post__small .home-post__wrap-text h3 {
		font-size: 24px;
	}
	.footer-menu {
		text-align: center;
		margin-bottom: 20px;
	}
	.footer {
		padding-top: 34px;
	}
	.flex-reverse {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-flow: column;
		-moz-flex-flow: column;
		-ms-flex-flow: column;
		-o-flex-flow: column;
		flex-flow: column;
	}
	.flex-reverse-bottom {
		text-align: center;
		width: 100%;
		order: 2;
	}
	.flex-reverse-top {
		width: 100%;
		order: 1;
	}
}

@media only screen and (max-width : 480px) {
	.wrapper__contact-text h1 {
		font-size: 34px;
		margin-bottom: 10px;
	}
	.wrapper__contact-text p {
		font-size: 16px;
	}
	.wrapper__privacy-policy h1 {
		font-size: 34px;
	}
	.wrapper__privacy-policy p, 
	.wrapper__privacy-policy h4 {
		word-wrap: break-word;
	}
	.need-help__heading {
		font-size: 28px;
	}
	.header {
		min-height: 507px;
	}
	.need-help {
		padding-top: 40px;
		padding-bottom: 44px;
	}
	.need-help p {
		font-size: 16px;
	}
}

@media only screen and (max-width : 414px) {
	.wrapper__contact-form {
		padding: 20px 20px 24px;
	}
	.checkbox label {
		font-size: 14px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 360px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 769px) {

}

@media only screen and (min-width : 854px){

}

@media only screen and (min-width : 900px){

}

@media only screen and (min-width : 901px){

}

@media only screen and (min-width : 960px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 980px) {

}

@media only screen and (min-width : 1024px){

}

@media only screen and (min-width : 1060px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


@media only screen and (max-height : 400px) {
	.top-line.active .wrapper-menu {
		justify-content: center;
	}
}
@media only screen and (max-height : 360px) {
	.top-line.active .wrapper-menu {
		display: block;
	}
}