.rating
    span.rating-item
        +iconSvg('18', '17', '0 0 18 17', 'rating-star')
    span.rating-item
        +iconSvg('18', '17', '0 0 18 17', 'rating-star')
    span.rating-item
        +iconSvg('18', '17', '0 0 18 17', 'rating-star')
    span.rating-item
        +iconSvg('18', '17', '0 0 18 17', 'rating-star')
    span.rating-item
        +iconSvg('18', '17', '0 0 18 17', 'rating-star')