.are-you.are-you--default-offset
    .container
        .are-you__wrapper
            .are-you__start Are You
            .are-you__arrrow
                img(src="src/blocks/are-you/assets/img/are-you__arrow.svg" alt="Are You Arrow")
            .are-you__end a Therapist ?
        .are-you__button
            a(href="#").link-black Let’s work with us